/* Override defaults */

.for_users,
.for_developers,
.faq_Q,
.faq_A,
.tos_stack,
.tos_element {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

/* General Layout */

.about #content {
  width: 1000px;
  margin-top: 110px;
  background: blue;
  border: solid #99CC00 4px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

.about_slice {
  width: 25%;
  height: 80px;
  padding: 30px 15px;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(center bottom, #6d9100, #99cc00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99cc00', endColorstr='#6d9100', GradientType=0);
}

.about_slice:hover {
  cursor: pointer;
}

/* FAQ area */

.faq_slice,
.tos_slice,
.privacy_slice,
.view_slice {
  width: 25%;
  width: 230px;
  height: 40px;
  padding: 30px 15px;
  margin-right: 5px;
  margin-left: 5px;
  font-size: 20px;
  font-weight: bold;
  line-height: 0;
  color: white;
  background: -webkit-gradient(linear, left bottom, left top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(center bottom, #6d9100, #99cc00);
  border-radius: 25px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99cc00', endColorstr='#6d9100', GradientType=0);
}

.faq_slice:hover,
.tos_slice:hover,
.privacy_slice:hover,
.view_slice:hover {
  cursor: pointer;
}

.faq_Q,
.faq_A {
  width: 100%;
  text-align: left;
  background: #EBEBEB;
}

.faq_Q {
  padding: 20px 20px 0 20px;
  font-size: 20px;
  font-weight: bold;
  line-height: 25px;
  color: #3C9EDB;
  border-bottom: 0;
}

.faq_Q.acceptable {
  padding-bottom: 10px;
}

.faq_A {
  padding: 0 10px 0px 20px;
}

.faq_A.acceptable {
  padding-top: 10px;
  padding-bottom: 10px;
}

.for_users,
.for_developers {
  padding-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
  color: #99CC00;
  text-shadow: 1px 1px 1px #333333;
  background: #FDFDFD;
  border-bottom: none;
}

.for_developers {
  padding-top: 20px;
}

/* TOS Area */

.tos_stack {
  padding: 20px 10px;
  padding-top: 0;
  background: white;
}

.tos_stack b {
  font-size: 18px;
}

.tos_element {
  width: 50%;
  height: 400px;
  padding: 20px 10px;
  overflow: auto;
  text-align: left;
  border-bottom: 1px solid #B8B8B8;
}

.tos_left {
  background: #EBEBEB;
}

.tos_right {
  background: #FDFDFD;
}

.tos_right i {
  font-size: 20px;
  font-weight: bold;
  color: #3C9EDB;
}

.tos_left b {
  font-size: 20px;
  color: #3C9EDB;
}

.tos_right p {
  font-size: 20px;
  line-height: 30px;
}

.about_selected {
  color: black;
  text-shadow: 2px 2px 2px white;
  background: -webkit-gradient(linear, left bottom, left top, from(#ebebeb), to(#b8b8b8));
  background: -moz-linear-gradient(center bottom, #ebebeb, #b8b8b8);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B8B8B8', endColorstr='#EBEBEB', GradientType=0);
}

.about body {
  margin-top: 60px;
}

.about #nav {
  position: fixed;
  top: 0;
  z-index: 100;
  width: 100%;
  -webkit-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4);
     -moz-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4);
          box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4);
}

@media only screen and (max-width: 1074px), only screen and (max-device-width: 1074px) {
  .about #main_logo:link,
  .about #main_logo:visited,
  .about #main_logo:active,
  .about #main_logo:hover {
    left: 535px;
  }
}

/* Pin Modal_1 and Pin Modal_2 */

.about #pinModal_2 {
  width: 650px;
}

.about #pinModal_2 input {
  width: 150px;
}

.about .media_type,
.about .media_source {
  float: left;
}

.about .post_metadata {
  width: 300px;
}

.about .post_description,
.about .post_tags {
  display: inline-block;
  vertical-align: top;
}

.about .post_tags {
  width: 300px;
}

/* About content */

.about .about_left {
  position: fixed;
  float: left;
  width: 300px;
  background: #E9DBCC;
  border: 1px solid LightSteelBlue;
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
     -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
          box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
}

.about .about_tabs {
  font-size: 20px;
}

.about .about_tabs li {
  margin-top: 20px;
}

.about .about_right {
  float: left;
  width: 700px;
  padding: 15px;
  margin: 0 0 0 320px;
  font-size: 18px;
  line-height: 22px;
  background: #E9DBCC;
  border: 1px solid LightSlateGray;
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
     -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
          box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
}

.about .about_right b {
  font-size: 22px;
}

#about_nav_container {
  width: 100%;
  height: 60px;
  padding: 20px 0;
  background: white;
}

#about_nav_buttons_container {
  margin-right: 20px;
  margin-left: 20px;
}