/* Default.css contains basic global defaults for css,
 * as well as components that are consistant across all
 * pages. The goal being to abstract all generic css
 * to this file.
 */

/* Colors */

/* Mixins */

.background_img {
  background-image: url("../images/UI/dark_dimple.png");
}

/* global defaults */

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Open Sans', sans-serif;
  color: black;
}

html {
  padding-bottom: 100px;
  background-image: url("../images/UI/Q_gradient.png");
  background-size: 100% auto;
}

@media only screen and (max-width: 1180px) {
  html {
    padding-bottom: 100px;
    background-image: url("../images/UI/Q_gradient.png");
    background-size: 1180px auto;
  }
}

body {
  overflow-x: hidden;
  background: none;
}

div {
  padding: 0;
  margin: 0;
}

textarea {
  resize: none;
}

hr {
  margin: 0;
  border: 1px solid #BBBBBB;
}

noscript {
  margin: 10px;
  text-align: center;
}

ul,
li {
  list-style-type: none;
}

a,
a:hover {
  text-decoration: none;
}

.col1 li a:hover,
.col2 li a:hover {
  background: #14A9E3;
}

.dropdown-menu li a:hover {
  background: #14A9E3;
}

noscript,
#IE_alert {
  margin: 10px;
  text-align: center;
}

p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}

label {
  display: inline;
}

/* Placeholder polyfill */

input,
textarea {
  color: #000;
}

.placeholder {
  color: #aaa;
}

/* Bootstrap overrides */

.dropdown-menu {
  padding: 0;
}

/*.dropdown-menu a {
  padding: 5px;
}*/

.img {
  width: none;
  height: none;
}

/* clearfix */

.clearfix:before,
.clearfix:after {
  display: table;
  content: " ";
}

.clearfix:after {
  clear: both;
}

.hidden {
  display: none !important;
}

.pointer {
  cursor: pointer;
}

/* Elements */

#content {
  margin: 20px auto 20px;
}

/* Override bootstrap defaults */

form {
  padding: 0;
  margin: 0;
}

.dropdown-menu a {
  white-space: normal;
}

.form-horizontal .control-group {
  margin-top: 20px;
  margin-bottom: 20px;
}

.control-label {
  width: 100px;
  font-size: 16px;
  font-weight: bold;
}

.form-horizontal .controls {
  margin-left: 120px;
}

.form-horizontal .controls {
  margin-left: 160px;
}

.form-horizontal .control-label {
  width: 120px;
  font-size: 16px;
  font-weight: bold;
}

.navbar-inverse .navbar-inner {
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

.navbar .nav > li > .dropdown-menu:after {
  border-bottom: 0;
}

.dropdown-toggle {
  background: none !important;
}

.rackspace_logo {
  position: fixed;
  right: 45%;
  bottom: 20px;
  z-index: -1;
}

.view_all {
  height: 30px;
  font-weight: bold;
  line-height: 30px;
  color: white;
  text-align: center;
  cursor: pointer;
  background: -webkit-gradient(linear, left top, left bottom, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=0);
}

.view_all p {
  color: white;
}

.view_all :hover {
  background: #6d9100;
}

/****************** Top Nav Bar ************************/

#nav {
  position: relative;
  min-width: 1180px;
  margin: 0;
  background: none;
}

#nav * {
  font-family: 'Nobile', arial, serif;
}

#metal {
  position: absolute;
}

#nav_left {
  width: 240px;
  height: 50px;
  padding-left: 20px;
  background: -webkit-gradient(linear, left top, right top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(left, #6d9100, #99cc00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=1);
}

#nav_right {
  float: right;
  height: 50px;
  margin: 0;
  background: -webkit-gradient(linear, right top, left top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(right, #6d9100, #99cc00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99cc00', endColorstr='#6d9100', GradientType=1);
}

#nav_right > li {
  height: 50px;
  margin-right: 10px;
}

#nav_right li > ul > li {
  height: 100%;
  margin: 0;
}

#notifications {
  position: absolute;
  top: 50px;
  z-index: 3;
}

#notify_list {
  position: absolute;
  left: 10px;
}

#notify_list li {
  position: relative;
  display: inline-block;
}

#notify {
  z-index: 2;
  width: 270px;
  height: 40px;
  box-shadow: 0 5px 10px -5px #333333;
}

#notify_div {
  z-index: 2;
  display: inline-block;
  width: 270px;
  height: 40px;
  vertical-align: top;
  background: -webkit-gradient(linear, left top, right top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(left, #6d9100, #99cc00);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=1);
  box-shadow: 0 5px 10px -5px #333333;
}

#notify_triangle {
  display: inline-block;
  width: 0;
  height: 0;
  margin-left: -4px;
  border-top: 40px solid #99cc00;
  border-right: 40px solid transparent;
}

#nav_content {
  position: relative;
  height: 50px;
  min-width: 800px;
  padding: 0;
  margin: auto;
  background: #99cc00;
  border: none;
  box-shadow: 0 5px 10px -5px #333333;
}

#main_logo:link,
#main_logo:visited,
#main_logo:active,
#main_logo:hover {
  position: absolute;
  top: 3px;
  left: 56%;
  z-index: 100;
  width: 120px;
  max-width: 200px;
  margin-left: -150px;
  font-size: 40px;
  font-weight: bold;
  color: white;
  text-decoration: none;
  text-shadow: 2px 2px 1px #333;
  white-space: nowrap;
}

#main-logo img {
  height: 100px;
  box-shadow: 0 5px 10px -5px #333333;
}

.affix {
  top: 0;
}

.caret {
  margin-top: 7px;
}

#search_bar {
  float: left;
  margin-top: 10px;
}

.search_glass {
  position: absolute;
  top: 14px;
  right: 10px;
  z-index: 2;
  height: 20px;
}

#search_bar input {
  width: 210px;
  font-size: 16px;
  color: grey;
  background: #F0F8F1;
  border-color: #CFCACA;
}

#search_bar input:focus {
  color: black;
}

.new_followers,
.new_tags,
.new_messages {
  padding: 0 10px;
  margin-left: 10px;
}

.nav-collapse {
  margin: 0 20px;
}

.pin_it {
  margin-left: 10px;
}

.log_in {
  margin-right: 10px;
}

#post_btn {
  padding-right: 0;
}

#post_btn img {
  width: 120px;
}

#about_toggle {
  height: 100%;
  padding: 5px 0 0 0;
}

#about_toggle img {
  width: 120px;
  margin-top: 5px;
}

/*Generic notification item elements*/

.new_message {
  position: absolute;
  right: 3px;
  padding: 2px;
  font-weight: bold;
  color: white;
  background: red;
  border-radius: 4px 4px 4px 4px;
}

.event_link {
  cursor: pointer;
}

.notification-text {
  float: left;
  width: 65%;
}

.notification-profile-image {
  float: left;
  width: 40px;
  padding-right: 10px;
}

.notification-list {
  min-width: 269px;
  background: #DCDCDC;
}

.notification-list li {
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
}

.notification-list a {
  padding: 5px;
}

/* Notifications dropdowns */

.targetThumb img {
  width: 30px;
  height: 30px;
  margin-top: 5px;
  margin-left: 5px;
}

.notifications-count-badge {
  position: absolute;
  top: -5px;
  left: 43px;
  min-width: 17px;
  padding-right: 2px;
  line-height: 17px;
  color: white;
  text-align: center;
  background-color: red;
  border-radius: 4px;
}

#follower_toggle,
#tag_toggle,
#message_toggle {
  padding: 0;
  margin: 0;
  cursor: pointer;
}

#follower_dropdown,
#tag_dropdown,
#message_dropdown {
  top: 42px;
  left: 20px;
  -webkit-border-radius: 6px;
          border-radius: 6px 6px 6px 6px;
}

#follower_dropdown {
  left: -35px;
}

#tag_dropdown {
  left: -104px;
}

#message_dropdown {
  left: -173px;
}

#follower_dropdown:before,
#tag_dropdown:before,
#message_dropdown:before {
  position: absolute;
  top: -20px;
  left: 5px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #DCDCDC;
  content: ' ';
}

#follower_dropdown:before {
  left: 59px;
}

#tag_dropdown:before {
  left: 129px;
}

#message_dropdown:before {
  left: 198px;
}

/* Nav Right */

#nav_right {
  font-size: 1em;
}

#nav_right a {
  cursor: pointer;
}

#nav_right ul.dropdown-menu {
  padding: 0;
  margin: 0;
}

#nav_right .dropdown-menu.active {
  margin: 0;
  background: #DCDCDC;
  border: 1px solid #CFCACA;
  border-bottom: 0;
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
     -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
          box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
}

#nav_right .dropdown-menu .active :before {
  border: 0;
}

#nav_right .dropdown-menu .active :after {
  border: none;
}

#nav_right .dropdown-menu .active :before {
  border: none;
}

/*Profile tab*/

#profile_toggle {
  padding: 0;
  margin: 5px 15px 0 0;
}

#profile_toggle .caret {
  margin-top: 17px;
  margin-left: 1px;
  border-top-color: white;
  border-bottom-color: white;
}

.profile_tab_right {
  display: inline;
  color: white;
}

.profile_tab_right span {
  color: white;
}

#nav_right .dropdown-menu.active#profile_dropdown,
.dropdown-menu {
  position: absolute;
  top: 5px;
  top: 55px;
  right: 0;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

#nav_right #profile_tab .dropdown-menu :before {
  position: absolute;
  top: -20px;
  left: 5px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #DCDCDC;
  content: ' ';
}

#profile_small {
  width: 40px;
  max-height: 40px;
  padding-right: 5px;
}

#profile_post {
  position: relative;
  left: 10px;
  width: 120px;
  padding-top: 5px;
}

#login_btn {
  width: 100px;
}

/*About tab*/

#nav_right #about_tab .dropdown-menu {
  position: absolute;
  top: 5px;
  top: 50px;
  right: 0;
  width: 140px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
}

#nav_right #about_tab .dropdown-menu:before {
  position: absolute;
  top: -20px;
  left: 90px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #DCDCDC;
  content: ' ';
}

/************* Subnav ************************/

#subnav {
  z-index: 2;
  width: 100%;
  min-width: 1180px;
  margin: auto;
  background: none;
  border-top: 1px solid #CFCACA;
}

#subnav_filler {
  position: absolute;
  z-index: -1;
  float: left;
  width: 1300px;
  height: 30px;
  padding: 0;
  margin: 0;
  background: #848484;
}

#subnav_content {
  width: 100%;
  height: 30px;
  margin: auto;
  text-align: center;
  background: #848484;
  border-bottom: 2px solid #B8B8B8;
  box-shadow: 0 5px 10px -5px #333333;
}

#subnav_content > * {
  padding: 3px 10px 0;
  margin: 0 10px;
  color: white;
  text-shadow: 1px 1px 1px #000;
  cursor: default;
}

#store_link {
  cursor: pointer;
}

#subnav_content .dropdown_tab {
  position: relative;
  display: inline-block;
}

#subnav_content .dropdown_tab .dropdown-toggle {
  color: white;
}

#subnav_content .caret {
  border-top-color: white;
  border-bottom-color: white;
}

.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret {
  margin-top: 15px;
  border-top-color: black;
  border-bottom-color: black;
}

#subnav_content .dropdown_tab .dropdown-menu {
  text-align: left;
  /*border: 2px solid #F9C705;*/

  -webkit-border-radius: 5px;
  /* Safari, Chrome */

          border-radius: 2px solid #F9C705;
  /* CSS3 */

}

#subnav_content .dropdown-menu {
  border: none;
}

.two_col_dropdown {
  top: 32px;
  width: 330px;
  padding: 0;
  margin: 0;
  background: #DCDCDC;
  border: 2px solid black;
  -webkit-border-radius: 6px;
          border-radius: 6px 6px 6px 6px;
}

.two_col_dropdown:before {
  position: absolute;
  top: -20px;
  left: 35px;
  width: 0;
  height: 0;
  border: 10px solid transparent;
  border-bottom-color: #DCDCDC;
  content: ' ';
}

.one_col_dropdown {
  top: 30px;
  min-width: 145px;
  padding: 0;
  margin: 0;
  background: #E9DBCC;
}

.two_col_dropdown .col1,
.two_col_dropdown .col2 {
  float: left;
  width: 165px;
  text-align: left;
}

.one_col_dropdown .col1 {
  float: left;
  width: 145px;
}

.two_col_dropdown a,
.one_col_dropdown a {
  padding: 0;
  padding: 5px;
  margin: 0;
  text-shadow: none;
  cursor: pointer;
}

.two_col_dropdown div img,
.one_col_dropdown div img {
  margin-right: 5px;
}

.register_now {
  padding: 0;
  font-size: 20px;
  text-align: center;
}

.register_inner {
  position: relative;
  top: -2px;
  width: 700px;
  padding: 10px 0;
  margin: auto;
  background: -moz-linear-gradient(top, #848484, #c2c2c2);
  border-right: 2px solid #B8B8B8;
  border-bottom: 2px solid #B8B8B8;
  border-left: 2px solid #B8B8B8;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=1);
  box-shadow: 0 5px 10px -5px #333333;
}

.register_inner > * {
  display: inline-block;
}

.register_inner p {
  font-weight: 700;
  color: black;
}

.register_inner img {
  width: 100px;
  margin-right: 20px;
  cursor: pointer;
}

/* Game and store pins */

.game_pin,
.store_pin {
  float: left;
  width: 220px;
  padding: 15px 15px 0 15px;
  margin: 0 0 15px 15px;
  font-size: 12px;
  background: #FBFBFA;
  -webkit-box-shadow: 10px 10px 5px -2px #555555;
     -moz-box-shadow: 10px 10px 5px -2px #555555;
          box-shadow: 10px 10px 5px -2px #777777;
}

.game_pin .game_description,
.game_pin .game_attributes,
.game_pin .posted_by {
  max-height: 40px;
  margin-top: 5px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.game_pin .game_description,
.game_pin .posted_by {
  margin-bottom: 0;
}

.game_pin .game_attributes {
  margin-bottom: 5px;
}

/* Feedback tab */

#feedback_tab {
  position: fixed;
  top: 45%;
  z-index: 1;
  width: 27px;
  cursor: pointer;
}

/* Scroll up button */

#scrollup {
  position: fixed;
  right: 0;
  bottom: 15px;
  display: none;
  width: 80px;
  height: 80px;
  font-size: 25px;
  text-align: center;
  background: #FDFDFD;
  opacity: 0.9;
  box-shadow: 0 0 5px black;
}

#scrollup img {
  margin-top: 13px;
  opacity: 1.0;
}

#scrollup:hover {
  cursor: pointer;
}

/* Alerts */

.alert {
  margin: 10px 0;
  font-size: 16px;
  color: black;
  background-color: transparent;
  border: none;
}

#alertContainer {
  position: fixed;
  bottom: 25px;
  left: 25px;
  z-index: 200;
  border: solid 2px black;
  -webkit-border-radius: 10px;
          border-radius: 10px;
}

#notify_status,
#notify_message {
  color: white;
}

#notify_status {
  font-weight: bold;
}

.targetThumb .friend_buttons {
  float: right;
}

/* Enlarged Gamepin */

.profile_img {
  height: 30px;
}

.view_trigger:hover {
  cursor: pointer;
  /*cursor: url("../images/UI/qicon.png");*/

}

.icon-heart {
  top: 5px;
}

/*Prevents dotted border from appearing on clicking "Comment" in Firefox*/

:focus {
  outline: none;
}

::-moz-focus-inner {
  border: 0;
}