<div ng-include="modals" onload="setupPostContent();"></div>
<div ng-include="'/partials/profile/navbar'" id="nav" class="navbar navbar-inverse"></div>
<!-- I GOT 99 PROBLEMS AND JAVASCRIPT AIN'T ONE! -->
<noscript>
  <style type="text/css">
      #content  {display:none;}
  </style>
  <div class="noscriptmsg">
    You don't have javascript enabled.  Please Enable javascript to view this site.
  </div>
</noscript>
<!--<button ng-click="getLikes(userEmail)" style="position: fixed; top: 30%">testAPI</button>-->
<!--<button ng-click="showLikes()" style="position: fixed; top: 30%">testAPI</button>-->
<img id="feedback_tab" ng-click="popFeedback()" src="/images/UI/feedback_tab.png">
<div id="content" class="container" ng-include="'partials/profile/profile_content'" onload="setup()">
</div>
<a data-toggle="dropdown" ng-click="scrollup()" id="scrollup">
  <img src="<%= rootPath %>/images/UI/scrollup.png">
</a>