<!-- MAIN PROFILE AREA -->
<div id="profile_col">
  <div id="profile_header">PROFILE</div>
  <div class="left_container">
    <div class="left_padding" style="position:relative">
      <div class="profile_pic" ng-mouseenter="changeImage = true;" ng-mouseleave="changeImage = false;">
        <button ng-show="!profile.profileImg" ng-click="changeavatar()" class="change_avatar" type="button" >Upload Avatar</button>
        <button ng-show="profile.profileImg && changeImage" ng-click="changeavatar()" class="change_avatar" type="button" >Change Avatar</button>
        <img ng-src="{{profile.profileImg || '/images/160x160.gif' }}" width="165" height="165"/>
      </div>
      <div class="profile_xp">
        <span class="curr_level">Level {{profile.level || 1}}</span>
        <span class="to_level">{{profile.nextXP || 99}}XP to level</span>
      </div>
      <div class="xp_bar clearfix">
        <span class="xp_gained">
        </span>
        <span class="xp_remaining">
        </span>
      </div>
    </div>
  </div>
  <div class="right_container">
    <div class="right_padding">
      <p class="profile_name">{{profile.userName}}</p>
      <p class="bio_text">{{profile.bio}}</p>
      <textarea class="bio_txtarea hidden" rows="4" maxlength="400">Click here to add bio text
      </textarea>
      <div class="bio_opts_container hidden">
        <p class="bio_opts">400 remaining</p>
      </div>
      <div class="social_media">
        <a href="" ng-show="profile.fbConnect">Facebook Page</a>
      </div>
    </div>
  </div>
  <div id="people_container">
    <ul id="people_header">
      <li ng-class="{'active_tab': people_tab==FOLLOW}" ng-click="people_tab=FOLLOW;" >
        {{profile.followers.length}} FOLLOWER<span ng-show="profile.followers.length != 1" >S</span>
      </li>
      <li ng-class="{'active_tab': people_tab==FOLLOWING}" ng-click="people_tab=FOLLOWING;" >
        {{ profile.following.length }} FOLLOWING
      </li>
      <li ng-class="{'active_tab': people_tab==FRIEND}" ng-click="people_tab=FRIEND;" >
        {{profile.friends.length}} FRIEND<span ng-show="profile.friends.length != 1">S</span>
      </li>
      <li class="view_all">
        <p class="view_all" ng-click="popGeneric()" href="#">View All</p>
      </li>
    </ul>
    <div class="bot_container">
      <a ng-show="people_tab==FOLLOW" ng-repeat="follower in profile.followers" href="/user/{{follower.userName}}">
        <img title="{{follower.userName}}" width="40px" height="40px" ng-src="{{follower.profileImg || '/images/30x30.gif'}}"/>
      </a>
      <a ng-show="people_tab==FOLLOWING" ng-repeat="following in profile.following" href="/user/{{following.userName}}">
        <img title="{{following.userName}}" width="40px" height="40px" ng-src="{{following.profileImg || '/images/30x30.gif'}}"/>
      </a>
      <a ng-show="people_tab==FRIEND" ng-repeat="friend in profile.friends" href="/user/{{friend.userName}}">
        <img title="{{friend.userName}}" width="40px" height="40px" ng-src="{{friend.profileImg || '/images/30x30.gif'}}"/>
      </a>
    </div>
  </div>
  <div id="footer_container">
    <div id="profile_footer">
      <div ng-class="{'active_tab': content_tab==GROUPS}" ng-click="getGroupData(); content_tab=GROUPS">Groups</div>
      <div ng-class="{'active_tab': content_tab==LIKES}" ng-click="showLikes(); content_tab=LIKES;" >Liked Posts</div>
    </div>
  </div>
</div>
<!-- Timeline column and badge column -->
<div id="timeline-badges-columns" ng-include="'partials/profile-user-columns'"></div>
<!-- PROFILE DATA (GROUPS AND LIKED POSTS) -->
<div id="profile_data" ng-include="'partials/profile_data'"></div>
