<div class="about_left">
  <ul class="about_tabs">
    <li class="active_tab"><a href="">FAQ</a></li>
    <li><a href="">Help</a></li>
    <li><a href="">About the Team</a></li>
    <li><a href="">Jobs</a></li>
    <li><a href="">Press / News</a></li>
    <li><a href="">Terms and Conditions</a></li>
    <li><a href="">Privacy Policy</a></li>
  </ul>
</div>
<div class="about_right">
  <div class="tab-pane active" id="tab1">
    <h1>FAQ</h1>
    <br/>
    <b>Heading 1</b>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <br/>
    <b>Heading 2</b>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. T is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <br/>
    <b>Heading 3</b>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
    <p>This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence. This is a longer sentence.  This is an even long sentence.
    This is a sentence.</p>
  </div>
</div>