<div ng-click="viewFAQ()" class="modal_slice faq_slice">
  FAQ
</div>
<div ng-click="viewToS()" class="modal_slice tos_slice">
  Terms of Service
</div>
<div ng-click="viewPrivacy()" class="modal_slice privacy_slice">
  Privacy Policy
</div>
<div ng-click="viewAcceptable()" class="modal_slice view_slice">
  Acceptable Use
</div>
<div ng-include="section"></div>

