<div ng-click="viewFAQ()" class="modal_slice faq_slice about_selected">
  FAQ
</div>
<div ng-click="viewToS()" class="modal_slice tos_slice">
  Terms of Service
</div>
<div ng-click="viewPrivacy()" class="modal_slice privacy_slice">
  Privacy Policy
</div>
<div ng-click="viewAcceptable()" class="modal_slice view_slice">
  Acceptable Use
</div>
<div class="modal_stack for_users"> Users </div>
<div class="modal_stack faq_Q">How do I pronounce Quyay?</div>
<div class="modal_stack faq_A">It's pronounced "Q-yay", or if you speak the Queen's English "QUEUE-yay".<br/><br/></div>
<div class="modal_stack faq_Q">So, what is this Quyay thing?</div>
<div class="modal_stack faq_A">It's a way for you to share pictures and videos of the mobile games you love and
for you to find other new games to play, based on what you've shared. The 'top games' charts on other services only
show so much. <br/><br/> There are LITERALLY hundreds of thousands of games that you've never heard of, but were made with love
by some talented people; our aim is to help you find those games, especially those games that you would love, but
otherwise would have no way of knowing about.<br/><br/></div>
<div class="modal_stack faq_Q">Is Quyay just for mobile games?</div>
<div class="modal_stack faq_A">Yes, JUST mobile games. We really want to help people find games and help developers get their games found.
That means that we don't want people posting console games, computer games, arts & crafts, and other such things on our site.
In order to provide the best, most useful service to our visitors, we just might take down content that isn't a mobile game.<br/><br/></div>
<div class="modal_stack faq_Q">What kind of games should I post?</div>
<div class="modal_stack faq_A">We'd love it if you shared games that you don't think many people know about.
Odds are, if your parents or your young children know about it, most visitors to Quyay would know about it.<br/><br/></div>
<div class="modal_stack faq_Q">What does "alpha" mean?</div>
<div class="modal_stack faq_A">It's a development term. It means it's a very early version of something, barely ready to be shown to the public.
It's got a few features that work, though there could be a lot of bugs. It also means that there's LOTS of cool new stuff coming as the next phase, "beta", approaches.
You'll notice that some things on our site don't yet work, including the store, but when they do, we hope you'll love them.<br/><br/></div>
<div class="modal_stack faq_Q">I'm not always in front of a computer. Is there a mobile version of Quyay?</div>
<div class="modal_stack faq_A">In fact, we're working on a mobile app right now. We hope to have it done soon, and we'll sure as heck
let you know when it's available.<br/><br/></div>
<div class="modal_stack for_developers"> Developers </div>
<div class="modal_stack faq_Q">Can I post my own games to Quyay?</div>
<div class="modal_stack faq_A">Sure! We'd love it if you shared your games with our other users! Just keep in mind that by posting on behalf of your company,
you're binding them to our Terms and Conditions (which won't bite).<br/><br/></div>
<div class="modal_stack faq_Q">What's up with this SDK?</div>
<div class="modal_stack faq_A">Good question. Talk to us to learn more. We're working on it and want to hear what YOU would want in it.<br/><br/></div>
<div class="modal_stack faq_Q">How does Quyay work with developers?</div>
<div class="modal_stack faq_A">There are a few different ways, primarily through our SDK and our upcoming store.
Right now in alpha, we're focused on getting as many good users as possible so, when we're ready to go beta and beyond,
you'll have some quality folks who might want to download your game. In the meantime, if you have any questions, email us!<br/><br/></div>
