<!-- row 1 -->
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a class="view_trigger" ng-click="viewGamePin()">
    <img class="game_img" src="images/game_images/Gun-Bros-screenshot.png"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a class="view_trigger" ng-click="viewGamePin()">
    <img class="game_img" src="images/game_images/images (1).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a class="view_trigger" ng-click="viewGamePin()">
    <img class="game_img" src="images/game_images/images (2).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a class="view_trigger" ng-click="viewGamePin()">
    <img class="game_img" src="images/game_images/images (3).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a class="view_trigger" ng-click="viewGamePin()">
    <img class="game_img" src="images/game_images/images (4).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<!-- row 2 -->
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (5).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (6).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (7).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (8).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (9).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<!-- row 3 -->
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (10).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (11).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (12).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (13).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (14).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<!-- row 4 -->
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (15).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (16).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (17).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (18).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (19).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<!-- row 5 -->
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (20).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/images (21).jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/mobile-games-handy-spiele-screenshot-rally-master-pro-01.jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/powerBoat.jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/screenshots_games_sog_21.jpg"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<!-- row 6 -->
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/Gun-Bros-screenshot.png"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/Gun-Bros-screenshot.png"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/Gun-Bros-screenshot.png"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/Gun-Bros-screenshot.png"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
<div class="game_pin">
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a href="#">
    <img class="game_img" src="images/game_images/Gun-Bros-screenshot.png"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">Something something some</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
  </p>
  <div class="posted_by">
    <img src="images/30x30.gif" class="profile_img" /><p 
    class="post_text"><b>Tony</b> onto #RTS</p>
  </div>
  <div class="comment">
    <img src="images/30x30.gif" class="profile_img"/><p 
    class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <img src="images/30x30.gif" class="profile_img"/><textarea 
    class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
    <button class="respond_btn hidden">Comment</button>
  </div>
</div>
