<!-- Check if user is coming back from facebook register -->
<div ng-include="modals" onload="setupModals()"></div>
<div ng-include="nav" id="nav" class="navbar navbar-inverse"></div>
<!-- I GOT 99 PROBLEMS AND JAVASCRIPT AIN'T ONE! -->
<noscript>
  <style type="text/css">
      #content  {display:none;}
  </style>
  <div class="noscriptmsg">
    You don't have javascript enabled.  Please Enable javascript to view this site.
  </div>
</noscript>
<!-- Debug Area -->
<!--<div style="position:fixed; top:100px; left: 100px; z-index:1000; background:white; border: solid 1px black;">
  <a href="/profile">Link to Profile</a>
  <p>WHAT IS THIS??????</p>
</div>-->
<div id="content" class="container" ng-include="content" onload="log('content-loaded')">
</div>
<a data-toggle="dropdown" ng-click="scrollup()" id="scrollup">
  <img src="<%= rootPath %>/images/UI/scrollup.png">
</a>
<div id="pag_nav">
  <a ng-repeat="page in pages" href="{{page.url}}">{{page.index}}</a>
  <!--<a href="page_2.html">Page 2</a>
  <a href="page_3.html">Page 3</a>-->
</div>