<!-- loop through all gamepins on screen -->
<p appVersion></p>
<div ng-repeat="pin in showPins" class="game_pin" mason>
  <div class="game_options hidden">
    <a class="like_btn">Like</a>
    <a class="pin_btn">Repin</a>
    <a class="comment_btn" href="#c1">Comment</a>
  </div>
  <a class="view_trigger" ng-click="viewGamePin()">
    <img class="game_img" src="<%= rootPath %>/images/game_images/Gun-Bros-screenshot.png"/>
  </a>
  <a name="c1"></a>
  <p class="game_description">{{pin.description}}</p>
  <p class="game_attributes">
    <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>{{pin.comments.length}} comments</span>
  </p>
  <div class="posted_by">
    <img src="<%= rootPath %>/images/30x30.gif" class="profile_img" /><p
    class="post_text"><a href="/user/{{pin.poster}}"><b>{{pin.poster}}</b></a> onto {{pin.category}}</p>
  </div>
  <div ng-repeat="cmt in pin.comments" class="comment">
    <img src="<%= rootPath %>/images/30x30.gif" class="profile_img"/><p 
    class="post_text"><a href="/user/{{cmt.poster}}">{{cmt.poster}}</a> {{cmt.content}} </p>
  </div>
  <div ng-show="loggedIn" class="respond clearfix" tabindex="">
    <!--<form name="commentForm" ng-submit="sendForm()">-->
      <img src="<%= rootPath %>/images/30x30.gif" class="profile_img"/><textarea 
      class="respond_txtarea" placeholder="Post comment" tabindex="" ng-model="text"></textarea>
      <button class="respond_btn hidden" type="submit" ng-click="addComment(text, $index)">Comment</button>
      <p>{{text}}</p>
    <!--</form>-->
  </div>
</div>