<!-- Check if user is coming back from facebook register -->
<div ng-include="modals" onload="facebookRegister()"></div>
<div ng-include="nav" id="nav" class="navbar navbar-inverse"></div>
<!--<p style="position: fixed; top:200px; left: 200px; border:solid black 2px; z-index:200; background: white;">
  User: {{userName}}
  <br />
  LoggedIn: {{loggedIn}}
  <br />
  Status: {{status}}
  <br />
  Global: {{globalMess}}
  <br />
  <button ng-click="mason()">Masonry</button>
  <button ng-click="ajaxLogout()">Logout</button>
</p>-->
<!-- I GOT 99 PROBLEMS AND JAVASCRIPT AIN'T ONE! -->
<noscript>
  <style type="text/css">
      #content  {display:none;}
  </style>
  <div class="noscriptmsg">
    You don't have javascript enabled.  Please Enable javascript to view this site.
  </div>
</noscript>
<!-- onload="setup()" -->
<div style="position:fixed; top:100px; left:100px; z-index:1000">
  <!--<button ng-click="loadOne()">Load MOre</button>-->
</div>
<div id="content" class="container" ng-include="content" onload="log('content-loaded')">
</div>
<a href="#" ng-click="scrollup()" id="scrollup">
  <img src="<%= rootPath %>/images/UI/scrollup.png">
</a>
<div id="pag_nav">
  <a ng-repeat="page in pages" href="{{page.url}}">{{page.index}}</a>
  <!--<a href="page_2.html">Page 2</a>
  <a href="page_3.html">Page 3</a>-->
</div>