<head>
    <meta charset="utf-8">
    <title><%= title  %></title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.css" rel="stylesheet" >
    <link href="css/bootstrap-scroll-modal.css" rel="stylesheet" >
    <link href="css/default.css" rel="stylesheet">
    <% for(var file in cssFiles) { %>
    	<link href="css/<%= cssFiles[file] %>" rel="stylesheet">
    <% } %>
  </head>