<!-- Post Pin Modal (Step 1) -->
<div class="modal hide fade" id="pinModal_1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
    <h3 class="control-label" for="inputUsername">Post your game video or screenshot!</h3>
  </div>
  <div class="modal-body">
    <div class="media_type">
      <div class="btn-group" data-toggle="buttons-radio">
        <img src="images/image.png" />
        <button class="btn">Image</button>
        <p>Image</p>
        <img src="images/video.png" />
        <button class="btn">Video</button>
        <p>Video</p>
      </div>
    </div>
    <div class="media_source">
      <div class="btn-group" data-toggle="buttons-radio">
        <img src="images/upload.png" />
        <button class="btn">Upload</button>
        <p>Upload</p>
        <img src="images/url.png" />
        <button class="btn">URL</button>
        <p>URL</p>
      </div>
    </div>
  </div>
</div>

<!-- Front Pin Modal -->
<div class="modal hide fade" id="gamePinModal">
  <div class="modal-header clearfix">
    <a href="#"><img class="profile_img" src="images/50x50.gif" /></a>
    <button class="follow" type="button">Follow</button>
    <p class="poster"><a href="#">Joe Shmoe</a> via <a href="#">Katie Shmoe</a></p>
    <p class="date_posted">Posted 3 weeks ago onto #cooking</p>
  </div>
  <hr>
  <div class="modal-body">
    <div class="view_metadata">
      <p class="game_title"><a href="#">Cooking Mama</a></p>
      <p class="game_publisher">by <a href="#">Majestic</a></p>
    </div><div class="view_tags">
      <p><a href="#"><span>#simulation</span></a>
      <a href="#"><span>#food</span></a>
      <a href="#"><span>#cooking</span></a></p>
    </div>
    <div class="view_img_container">
      <a href="#"><img class="view_img" src="images/game_images/Gun-Bros-screenshot.png"/></a>
    </div>
    <div class="view_comment_container">
      <p> Cooking Mama is my favorite game ever I love it more than life itself combined.
      <div class="view_comment">
        <a href="#"><img src="images/50x50.gif" class="profile_img"/></a><p 
        class="view_post_text"><b>Jamie</b><br/> This game is a really cool cooking game and I play it all the time!1! </p>
      </div>
      <div class="view_respond clearfix">
        <a href="#"><img src="images/50x50.gif" class="profile_img"/></a><textarea 
        class="view_respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
        <button class="view_respond_btn hidden">Comment</button>
      </div>
    </div>
    <hr>
  </div>
  <ul class="share_list">
    <li class="share_element"><button type="button">Facebook</button></li>
    <li class="share_element"><button type="button">Twitter</button></li>
    <li class="share_element"><button type="button">Share</button></li>
    <li class="share_element"><button type="button">G+</button></li>
    <li class="share_element"><button type="button">Report Pin</button></li>
  </ul>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active like_tab"><a href="#like_content" data-toggle="tab">10 Pins</a></li>
      <li class="repin_tab"><a href="#repin_content" data-toggle="tab">12 Repins</a></li>
    </ul>
    <div class="tab-content img_container">
      <div class="tab-pane active" id="like_content">
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
      </div>
      <div class="tab-pane" id="repin_content">
        <a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a>
      </div>
    </div>
  </div>
</div>

<!-- Store Pin Modal -->
<div class="modal hide fade" id="storePinModal">
  <div class="modal-header clearfix">
    <a href="#"><img class="profile_img" src="images/game_images/gameloft_logo.jpg" width="50"/></a>
    <button class="follow" type="button">Download</button>
    <p class="poster"><a href="#">The Dark Knight Rises</a></p>
    <p class="date_posted">By <a href="">Gameloft</a></p>
  </div>
  <hr>
  <div class="modal-body">
      <div class="view_tags">
      <p><a href="#"><span>#simulation</span></a>
      <a href="#"><span>#food</span></a>
      <a href="#"><span>#cooking</span></a></p>
    </div>
    <div class="view_img_container">
      <a href="#"><img class="view_img" src="images/game_images/Gun-Bros-screenshot.png"/></a>
    </div>
    <div class="view_comment_container">
      <p> Risen from the ashes, the Dark Knight returns in this action packed sequel to destroy
       the criminals that threaten Gotham City.  Play as Batman, Catwoman, and even the villain Bane himself</p>
    </div>
    <hr>
  </div>
  <ul class="share_list">
    <li class="share_element"><button type="button">Facebook</button></li>
    <li class="share_element"><button type="button">Twitter</button></li>
    <li class="share_element"><button type="button">Share</button></li>
    <li class="share_element"><button type="button">G+</button></li>
    <li class="share_element"><button type="button">Report Pin</button></li>
  </ul>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active video_tab"><a href="#video_content" data-toggle="tab">Videos</a></li>
      <li class="like_tab"><a href="#like_content" data-toggle="tab">Pins</a></li>
      <li class="repin_tab"><a href="#repin_content" data-toggle="tab">Friends playing</a></li>
    </ul>
    <div class="tab-content img_container">
      <div class="tab-pane active" id="video_content">
        <div class="vid_container">
          <embed id="playerid" width="500px" height="400px" allowfullscreen="true" allowscriptaccess="always" quality="high" bgcolor="#000000" name="playerid" style="" src="http://www.youtube.com/v/WqlPgRMmS9U?enablejsapi=1&version=3&playerapiid=ytplayer" type="application/x-shockwave-flash">
        </div>
      </div>
      <div class="tab-pane" id="like_content">
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
      </div>
      <div class="tab-pane" id="repin_content">
        <a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a>
      </div>
    </div>
  </div>
</div>