<!-- Post Pin Modal (Step 1) -->
<div class="modal hide fade" id="pinModal_1">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
    <h3 class="control-label" for="inputUsername">Post your game video or screenshot!</h3>
  </div>
  <div class="modal-body">
    <div class="media_type">
      <div class="btn-group" data-toggle="buttons-radio">
        <img src="images/image.png" />
        <button class="btn">Image</button>
        <p>Image</p>
        <img src="images/video.png" />
        <button class="btn">Video</button>
        <p>Video</p>
      </div>
    </div>
    <div class="media_source">
      <div class="btn-group" data-toggle="buttons-radio">
        <img src="images/upload.png" />
        <button class="btn">Upload</button>
        <p>Upload</p>
        <img src="images/url.png" />
        <button class="btn">URL</button>
        <p>URL</p>
      </div>
    </div>
  </div>
</div>

<!-- Front Pin Modal -->
<div class="modal hide fade" id="gamePinModal">
  <div class="modal-header clearfix">
    <a href="#"><img class="profile_img" src="images/50x50.gif" /></a>
    <button class="follow" type="button">Follow</button>
    <p class="poster"><a href="#">Joe Shmoe</a> via <a href="#">Katie Shmoe</a></p>
    <p class="date_posted">Posted 3 weeks ago onto #cooking</p>
  </div>
  <hr>
  <div class="modal-body">
    <div class="view_metadata">
      <p class="game_title"><a href="#">Cooking Mama</a></p>
      <p class="game_publisher">by <a href="#">Majestic</a></p>
    </div><div class="view_tags">
      <p><a href="#"><span>#simulation</span></a>
      <a href="#"><span>#food</span></a>
      <a href="#"><span>#cooking</span></a></p>
    </div>
    <div class="view_img_container">
      <a href="#"><img class="view_img" src="images/game_images/Gun-Bros-screenshot.png"/></a>
    </div>
    <div class="view_comment_container">
      <p> Cooking Mama is my favorite game ever I love it more than life itself combined.
      <div class="view_comment">
        <a href="#"><img src="images/50x50.gif" class="profile_img"/></a><p 
        class="view_post_text"><b>Jamie</b><br/> This game is a really cool cooking game and I play it all the time!1! </p>
      </div>
      <div class="view_respond clearfix">
        <a href="#"><img src="images/50x50.gif" class="profile_img"/></a><textarea 
        class="view_respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
        <button class="view_respond_btn hidden">Comment</button>
      </div>
    </div>
    <hr>
  </div>
  <ul class="share_list">
    <li class="share_element"><button type="button">Facebook</button></li>
    <li class="share_element"><button type="button">Twitter</button></li>
    <li class="share_element"><button type="button">Share</button></li>
    <li class="share_element"><button type="button">G+</button></li>
    <li class="share_element"><button type="button">Report Pin</button></li>
  </ul>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active like_tab"><a target="_self" href="#like_content" data-toggle="tab">10 Pins</a></li>
      <li class="repin_tab"><a target="_self" href="#repin_content" data-toggle="tab">12 Repins</a></li>
    </ul>
    <div class="tab-content img_container">
      <div class="tab-pane active" id="like_content">
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
      </div>
      <div class="tab-pane" id="repin_content">
        <a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a>
      </div>
    </div>
  </div>
</div>

<!-- Store Pin Modal -->
<div class="modal hide fade" id="storePinModal">
  <div class="modal-header clearfix">
    <a href="#"><img class="profile_img" src="images/game_images/gameloft_logo.jpg" width="50"/></a>
    <button class="follow" type="button">Download</button>
    <p class="poster"><a href="#">The Dark Knight Rises</a></p>
    <p class="date_posted">By <a href="">Gameloft</a></p>
  </div>
  <hr>
  <div class="modal-body">
      <div class="view_tags">
      <p><a href="#"><span>#simulation</span></a>
      <a href="#"><span>#food</span></a>
      <a href="#"><span>#cooking</span></a></p>
    </div>
    <div class="view_img_container">
      <a href="#"><img class="view_img" src="images/game_images/Gun-Bros-screenshot.png"/></a>
    </div>
    <div class="view_comment_container">
      <p> Risen from the ashes, the Dark Knight returns in this action packed sequel to destroy
       the criminals that threaten Gotham City.  Play as Batman, Catwoman, and even the villain Bane himself</p>
    </div>
    <hr>
  </div>
  <ul class="share_list">
    <li class="share_element"><button type="button">Facebook</button></li>
    <li class="share_element"><button type="button">Twitter</button></li>
    <li class="share_element"><button type="button">Share</button></li>
    <li class="share_element"><button type="button">G+</button></li>
    <li class="share_element"><button type="button">Report Pin</button></li>
  </ul>
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="active video_tab"><a target="_self" href="#video_content" data-toggle="tab">Videos</a></li>
      <li class="pin_tab"><a target="_self" href="#pin_content" data-toggle="tab">Pins</a></li>
      <li class="friends_tab"><a target="_self" href="#friends_content" data-toggle="tab">Friends playing</a></li>
    </ul>
    <div class="tab-content img_container">
      <div class="tab-pane active" id="video_content">
        <div class="vid_container">
          <embed id="playerid" width="500px" height="400px" allowfullscreen="true"
            allowscriptaccess="always" quality="high" bgcolor="#000000" name="playerid" style=""
            src="http://www.youtube.com/v/WqlPgRMmS9U?enablejsapi=1&version=3&playerapiid=ytplayer"
            type="application/x-shockwave-flash">
        </div>
      </div>
      <div class="tab-pane" id="pin_content">
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
        <a href=""><img src="images/50x50.gif"/></a><a href=""><img src="images/50x50.gif"/></a>
      </div>
      <div class="tab-pane" id="friends_content">
        <a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a><a><img src="images/50x50.gif"/></a>
      </div>
    </div>
  </div>
</div>

<!-- Log In Modal -->
<div class="modal hide" id="loginModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
    <h3 id="myModalLabel">Log in to sgn</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input ng-model="login.email" type="text" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input ng-model="login.password" type="password" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <p>{{login.name}} : {{login.password}}</p>
      <div class="control-group">
        <!--<a href="#">Login with</a><span><img src="images/facebook_small.png" /></span>
        <span> <img src="images/twitter_small.jpg"/></span><span><img src="images/G_plus_small.jpg"/></span> -->
        <label class="control-label" for="inputPassword">Login with</label>
        <div class="controls">
          <a target="_self" href="/auth/facebook"><img src="images/facebook_small.png"/></a>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <label class="checkbox">
            <input type="checkbox"> Remember me
          </label>
          <br>
          <button class="btn" data-dismiss="modal" ng-click="ajaxLogin()">Sign in</button>&nbsp;&nbsp;&nbsp;<a href="#">Forgot Password?</a>
        </div>
      </div>
    </form>
  </div>
</div>

<!-- Register Modal -->
<div class="modal hide" id="registerModal" >
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
    <h3 id="myModalLabel">Register with sgn</h3>
  </div>
  <div class="modal-body">
    <form class="form-horizontal">
      <div class="control-group">
        <label class="control-label" for="inputEmail">Email</label>
        <div class="controls">
          <input ng-model="register.email" type="email" id="inputEmail" placeholder="Email">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputUsername">Username</label>
        <div class="controls">
          <input ng-model="register.name" type="text" id="inputUsername" placeholder="Username">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="inputPassword">Password</label>
        <div class="controls">
          <input ng-model="register.password" type="password" id="inputPassword" placeholder="Password">
        </div>
      </div>
      <div class="control-group">
        <label class="control-label" for="confirm">Confirm</label>
        <div class="controls">
          <input ng-model="register.confirm" type="password" id="confirm" placeholder="Confirm Password">
        </div>
      </div>
      <p> {{register.email}} : {{register.name}} : {{register.password}} : {{register.confirm}}</p>
      <div class="control-group">
        <!--<a href="#">Login with</a><span><img src="images/facebook_small.png" /></span>
        <span> <img src="images/twitter_small.jpg"/></span><span><img src="images/G_plus_small.jpg"/></span> -->
        <label class="control-label" for="inputPassword">Register with</label>
        <div class="controls">
          <a target="_self" href="/auth/facebook"><img src="images/facebook_small.png"/></a>
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button class="btn" data-dismiss="modal" ng-click="ajaxRegister()">Register</button>
        </div>
      </div>
    </form>
  </div>
</div>