<div id="nav_content" class="navbar-inner">
  <a id="main_logo" href="/" ng-click="getPinList()">Quyay</a>
  <ul id="nav_left" class="nav">
    <li>
      <form id="search_bar" class="navbar-search" ng-submit="textSearch(searchText)">
        <input type="text" ng-model="searchText" class="search-query" placeholder="Search">
        <p>{{searchText}}</p>
      </form>
    </li>
    <li ng-show="loggedIn">
      <a id="follower_toggle" class="dropdown-toggle" data-toggle="dropdown" href="/about">
        <img class="new_followers" src="<%= rootPath %>/images/friend_add.png" width="30" height="30"/>
      </a>
      <ul id="follower_dropdown" class="dropdown-menu">
        <li><a tabindex="-1" href="#">John is following you</a></li>
        <li><a tabindex="-1" href="#">Narasimtah Siddhartha wants to be your friend</a></li>
        <li><a tabindex="-1" href="#">Joe is following you</a></li>
        <li><a tabindex="-1" href="#">Billy wants to be your friend</a></li>
        <li><a tabindex="-1" href="#">Katie Something is following you</a></li>
      </ul>
    </li>
    <li ng-show="loggedIn">
      <a id="tag_toggle" class="dropdown-toggle" data-toggle="dropdown" href="/about">
        <img class="new_tags" src="<%= rootPath %>/images/friend_tag.png" width="30" height="30"/>
      </a>
      <ul id="tag_dropdown" class="dropdown-menu">
        <li><a tabindex="-1" href="#">Bertha tagged you in this pin</a></li>
        <li><a tabindex="-1" href="#">Action tagged you in this comment</a></li>
        <li><a tabindex="-1" href="#">Bertha tagged you in this pin</a></li>
        <li><a tabindex="-1" href="#">Action tagged you in this comment</a></li>
      </ul>
    </li>
    <li ng-show="loggedIn">
      <a id="message_toggle" class="dropdown-toggle" data-toggle="dropdown" href="/about">
        <img class="new_messages" src="<%= rootPath %>/images/friend_message.png" width="30" height="30"/>
      </a>
      <ul id="message_dropdown" class="dropdown-menu">
        <li><a tabindex="-1" href="#">Bob Smith messaged you</a></li>
        <li><a tabindex="-1" href="#">Jill Hagey messaged you</a></li>
        <li><a tabindex="-1" href="#">Nobody messaged you</a></li>
      </ul>
    </li>
  </ul>
  <ul id="nav_right" class="nav">
    <li ng-show="loggedIn"><a style="font-size: 25px;" ng-click="postGamePin()">Q</a></li>
    <li id="about_tab" class="dropdown">
      <a href="/about" id="about_toggle" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
        <ul class="dropdown-menu active">
          <li><a href="/about">Help</a></li>
          <li><a href="/about">Contact</a></li>
          <li><a href="/about">Terms of Service</a></li>
          <li><a href="/about">Privacy Policy</a></li>
          <li><a href="/about">Team</a></li>
        </ul>
    </li>
    <li ng-show="!loggedIn"><a ng-click="promptLogin()"> Login </a></li>
    <li ng-show="!loggedIn"><a ng-click="promptRegister()"> Register </a></li>
    <li ng-show="loggedIn" id="profile_tab" class="dropdown">
      <a href="#" id="profile_toggle" class="dropdown-toggle" data-toggle="dropdown">
        <img id="profile_small" src="<%= rootPath %>/images/30x30.gif" height="22" width="22" />{{userName}}<b class="caret"></b>
      </a>
      <ul id="profile_dropdown" class="dropdown-menu active">
        <li><a href="/profile">Followers</a></li>
        <li><a href="/settings">My Settings</a></li>
        <li><a href="#">Invite Friends</a></li>
        <li><a href="#">Find Friends</a></li>
        <li><a href="/profile">My Posts</a></li>
        <li><a ng-click="ajaxLogout()" href="#">Log Out</a></li>
      </ul>
    </li>
  </ul>
</div>
<div ng-include="subnav" id="subnav" onload="affix()" <!--data-spy="affix" data-offset-top="42" --> </div>