<div id="nav_content" class="navbar-inner">
  <a id="main_logo" target="_self" href="/">Social Gaming Network</a>
  <ul id="nav_left" class="nav">
    <li>
      <form id="search_bar" class="navbar-search">
        <input type="text" class="search-query" placeholder="Search">
      </form>
    </li>
  </ul>
  <ul id="nav_right" class="nav">
    <li id="about_tab" class="dropdown">
      <a href="About.html" id="about_toggle" class="dropdown-toggle" data-toggle="dropdown">About <b class="caret"></b></a>
      <ul class="dropdown-menu active">
        <li><a href="/about">Help</a></li>
        <li><a href="/about">Contact</a></li>
        <li><a href="/about">Terms of Service</a></li>
        <li><a href="/about">Privacy Policy</a></li>
        <li><a href="/about">Team</a></li>
      </ul>
    </li>
    <li><a href="#loginModal" data-toggle="modal">Login</a></li>
    <li><a href="#register" data-toggle="modal">Register</a></li>
  </ul>
</div>

<div ng-include="'partials/subnav'" id="subnav" data-spy="affix" data-offset-top="42">
</div>