<div id="notifications">
  <ul id="notify_list">
    <li id="followers_tab" ng-show="loggedIn" class="dropdown">
      <a id="follower_toggle" class="dropdown-toggle" data-toggle="dropdown">
        <img class="new_followers" src="/images/UI/Following1_effects.png" width="35" height="35"/>
        <span class="notifications-count-badge" ng-show="userEvents.length != 0">
          {{ userEvents.length }}
        </span>
      </a>
      <!-- this is too messy, need to move logic to controller -->
      <ul id="follower_dropdown" class="dropdown-menu notification-list" ng-show="userEvents.length != 0">
        <li ng-repeat="userEvent in userEvents | limitTo:4">
          <a class="clearfix event_link" ng-click="consume(userEvent, $index, userEvents)">
            <img ng-show="userEvent.action != 'friendAccepted'" class= "notification-profile-image" ng-src="{{userEvent.sourceData.profileImg}}">
            <img ng-show="userEvent.action == 'friendAccepted'" class= "notification-profile-image" ng-src="{{userEvent.targetData.profileImg}}">  
            <div class="notification-text">
              <b ng-show="userEvent.action != 'friendAccepted'">{{userEvent.sourceData.userName}}</b>
              <b ng-show="userEvent.action == 'friendAccepted'">{{userEvent.targetData.userName}}</b>
              <p ng-switch on="userEvent.action">
                <span ng-switch-when="followRecieved">Followed you</span>
                <span ng-switch-when="friendRequest">Wants to be your friend</span>
                <span ng-switch-when="friendAccepted">Accepted your friend request</span>
              </p>
            </div>
            <span ng-switch on="userEvent.action" class="targetThumb" >
              <img ng-switch-when="followRecieved" ng-src="/images/UI/Circle2.png" />
              <span ng-switch-when="friendRequest" class="friend_buttons">
                <button type="button" ng-click="$event.stopPropagation(); acceptFriend(userEvent, $index, userEvents); " >Accept</button>
                <button type="button" ng-click="$event.stopPropagation(); ignore(userEvent, $index, userEvents); " >Ignore</button>
              </span>
              <img ng-switch-when="friendAccepted" ng-src="/images/UI/Circle2.png" />
            </span>
          </a>
        </li>
        <div class="view_all" ng-show="userEvents.length > 4">
          <p ng-click="popFollowerNotifications()" href="#">View All</p>
        </div>
      </ul>
    </li>
    <li id="tag_tab" ng-show="loggedIn" class="dropdown">
      <a id="tag_toggle" class="dropdown-toggle" data-toggle="dropdown">
        <img class="new_tags" src="/images/UI/Tagged1_effects.png" width="35" height="35"/>
        <span class="notifications-count-badge" ng-show="pinEvents.length != 0">
          {{pinEvents.length}}
        </span>
      </a>
      <ul id="tag_dropdown" class="dropdown-menu notification-list" ng-show="pinEvents.length != 0">
        <li ng-repeat="pinEvent in pinEvents | limitTo:4">
          <a class="clearfix event_link" ng-click="consume(pinEvent, $index, pinEvents)">
            <img class= "notification-profile-image" ng-src="{{pinEvent.sourceData.profileImg}}">
            <div class="notification-text">
              <b>{{pinEvent.sourceData.userName}}</b>
              <p ng-switch on="pinEvent.action">
                <span ng-switch-when="commentRecieved">Commented on your post</span>
              </p>
            </div>
            <span ng-switch on="pinEvent.target" class="targetThumb">
              <img ng-switch-when="Action & Adventure" ng-src="/images/caticon-action22x22.png" />
              <img ng-switch-when="Arcade" ng-src="/images/caticon-arcade22x22.png" />
              <img ng-switch-when="Board & Card" ng-src="/images/caticon-card22x22.png" />
              <img ng-switch-when="Casino & Gambling" ng-src="/images/caticon-casino22x22.png" />
              <img ng-switch-when="Educational" ng-src="/images/caticon-educational22x22.png" />
              <img ng-switch-when="Family & Kids" ng-src="/images/caticon-family22x22.png" />
              <img ng-switch-when="Music & Rhythm" ng-src="/images/caticon-music22x22.png" />
              <img ng-switch-when="Puzzle" ng-src="/images/caticon-puzzle22x22.png" />
              <img ng-switch-when="Racing" ng-src="/images/caticon-racing22x22.png" />
              <img ng-switch-when="Role Playing" ng-src="/images/caticon-rpg22x22.png" />
              <img ng-switch-when="Simulation" ng-src="/images/caticon-rpg22x22.png" />
              <img ng-switch-when="Sports" ng-src="/images/caticon-sports22x22.png" />
              <img ng-switch-when="Strategy" ng-src="/images/caticon-strategy22x22.png" />
              <img ng-switch-when="Trivia & Word" ng-src="/images/caticon-strategy22x22.png" />
            </span>
          </a>
        </li>
        <div class="view_all" ng-show="pinEvents.length > 4">
          <p ng-click="popTagNotifications()" href="#">View All</p>
        </div>
      </ul>
    </li>
    
    <!-- Messages -->
    <li id="message_tab" ng-show="loggedIn">
      <a id="message_toggle" class="dropdown-toggle" data-toggle="dropdown">
        <img class="new_messages" src="/images/UI/Comment1_effects.png" width="35" height="35"/>
        <span class="notifications-count-badge" ng-show="newConvos != 0">
          {{newConvos}}
        </span>
      </a>
      <ul id="message_dropdown" class="dropdown-menu notification-list" ng-show="convoData.length != 0">
        <li ng-repeat="convo in convoData">
          <a class="clearfix event_link" ng-click="popConversation(convo); consumeMessage(convo)">
            <img class= "notification-profile-image" ng-src="{{convo.showUser.profileImg}}">
            <div class="notification-text">
              <span ng-show="convo.newFlag" class="new_message">new</span>
              <span>{{convo.showUser.userName}}</span><br>
              <i>"{{convo.messagePreview}}"</i>
            </div>
            &nbsp;
          </a>
        </li>
        <div class="view_all" ng-show="convoData.length > 4">
          <p ng-click="popConversation()" href="#">View All</p>
        </div>
      </ul>
    </li>
  </ul>
  <div id="notify_div"></div><img
  id="notify_triangle" src="/images/UI/triangle_green.png" />
</div>
<div id="nav_content" class="navbar-inner">
  <a id="main_logo" href="/" ng-click="getfront()"><img src="/images/UI/QUYAY-LOGO-FINAL.png" /></a>
  <ul id="nav_left" class="nav">
    <li>
      <img class="search_glass" src="/images/UI/search_glass.png" />
      <form id="search_bar" class="navbar-search" ng-submit="textsearch(searchText)">
        <input type="text" ng-model="searchText" class="search-query" placeholder="Search">
      </form>
    </li>
  </ul>
  <ul id="nav_right" class="nav">
    <li id="post_tab" ng-show="loggedIn"><a id="post_btn" style="font-size: 25px;" ng-click="postGamePin()" data-toggle="dropdown">
      <img src="/images/UI/post.png" />
    </a></li>
    <li id="about_tab" class="dropdown">
      <a href="/about" id="about_toggle" class="dropdown-toggle" data-toggle="dropdown">
        <img src="/images/UI/about.png" />
      </a>
      <ul class="dropdown-menu active">
        <li><a href="/about/faq">FAQ</a></li>
        <li><a href="/about/tos">Terms of Service</a></li>
        <li><a href="/about/privacy">Privacy Policy</a></li>
        <li><a href="/about/acceptable">Acceptable Use</a></li>
      </ul>
    </li>
    <!--<li ng-show="!loggedIn"><a ng-click="promptLogin(); log('test')">
      <img id="login_btn" src="/images/UI/Login_effects.png" />
    </a></li>-->
    <!--<li ng-show="!loggedIn"><a ng-click="promptRegister()"> Register </a></li>-->
    <li ng-show="loggedIn" id="profile_tab" class="dropdown">
      <a href="#" id="profile_toggle" class="dropdown-toggle" data-toggle="dropdown">
        <img id="profile_small" ng-src="{{userImg}}" height="22" width="22" />
        <div class="profile_tab_right">
          <span>{{userName}}</span>
          <b id="profile_caret" class="caret"></b>
        </div>
      </a>
      <ul id="profile_dropdown" class="dropdown-menu active">
        <li><a href="/profile">My Profile</a></li>
        <li><a ng-click="popGeneric()" data-toggle="dropdown" >Find Friends</a></li>
        <li><a ng-click="viewSettings()" data-toggle="dropdown" >Settings</a></li>
        <li><a ng-click="logoutSubmit()" data-toggle="dropdown" >Log Out</a></li>
      </ul>
    </li>
  </ul>
</div>
