<div ng-click="viewFAQ()" class="modal_slice faq_slice">
  FAQ
</div>
<div ng-click="viewToS()" class="modal_slice tos_slice">
  Terms of Service
</div>
<div ng-click="viewPrivacy()" class="modal_slice privacy_slice about_selected">
  Privacy Policy
</div>
<div ng-click="viewAcceptable()" class="modal_slice view_slice">
  Acceptable Use
</div>

<div class="modal_stack tos_stack"> Thanks for using Quyay! If you haven't yet read our Terms & Conditions,
we strongly suggest you do so now. They're riveting! Below, you'll find a summary of how we try to protect
your privacy. By the very nature of using a website, especially one like ours in which you post content,
you're giving us information about yourself which you'd probably like to keep as private as possible.</div>
<div class="modal_stack faq_Q">1. WHAT INFORMATION DO WE COLLECT AND HOW DO WE DO IT?</div>
<div class="modal_stack faq_A">A) When you give it to us or give us permission to obtain it. 
When you sign up for or use our service, you voluntarily give us certain information. This can include
your real name, username, avatar, posts, comments, likes, email address you used to sign up, and any
other information you provide us. 
You also may give us permission to access your information in other services. For example,
you may link your Facebook or Twitter account to Quyay, which could allow us to obtain information
from those accounts, such as your friends or contacts. The information we obtain from those services
often depends on your settings or their privacy policies, so be sure to read up on them.<br/><br/>
B) We get technical information when you use our service.
Whenever you use a website, mobile application, or other Internet service, there's certain information that
usually gets created and recorded in an automated way. The same is true when you use our service, and here
are some of the types of information we collect in this way.<br/>
Log Data. When you use Quyay, our servers automatically record information about your interaction with our
products ("log data"), including information that your browser sends whenever you visit a website or your
mobile app sends when you use it to access Quyay. This log data may include your Internet Protocol address,
the address of the web page you were visiting before you came to Quyay, browser type and settings, the date
and time of your request, and how you used Quyay.
Depending on how you're accessing our products, we may use "cookies" (a small text file sent by your computer
each time you visit our website, unique to your Quyay account or your browser), or similar technologies to record
log data. When we use cookies, we may use "session" cookies (that last until you close your browser) or "persistent"
cookies (that last until you or your browser delete them). For example, we may use cookies to store your preferences
or other Quyay settings so you don't have to set them up every time you visit Quyay.<br/>
Device Information. In addition to log data, we may also collect information about the device you're using Quyay on,
including what type of device it is, what operating system you're using, device settings, unique device identifiers,
and crash data. Whether we collect some or all of this information often depends on what type of device you're using
and its settings. For example, different types of information are available depending on whether you're using a Mac
or a PC, or an iPhone or an Android phone. To learn more about what information your device makes available to us,
please also check the policies of your device manufacturer or software provider.<br/><br/></div>
<div class="modal_stack faq_Q">2. HOW DO WE USE THIS INFORMATION?</div>
<div class="modal_stack faq_A">We use the information we collect to provide our service to you and make it better,
develop new services, and protect Quyay and our users. 
We also use the information we collect to offer you customized content -- including helping you discover posts or
groups you might like or provide you with customized advertising.<br/><br/>
We also use the information we collect to:<br/><br/>
Send you updates (such as when certain activity, like reposts or comments, happens on Quyay),
newsletters, marketing materials and other information that may be of interest to you.<br/><br/>
Respond to your questions or comments.<br/><br/>
The information we collect may be "personally identifiable" (meaning it can be used to specifically identify
you as a unique person) or "non-personally identifiable" (meaning it can't be used to specifically identify you).
We use both types of information, and combinations of both types, as described above. We may use or store information
wherever Quyay does business, including countries outside your own.<br/><br/>
</div>
<div class="modal_stack faq_Q">3. WHAT CHOICES DO I HAVE?</div>
<div class="modal_stack faq_A">Our goal is to give you simple and meaningful choices over your information.
If you have a Quyay account, many of the choices you have on Quyay are built directly in to the service or
your account settings. For example, you can:<br/><br/>
Access and change information in your profile page at any time<br/><br/>
Close your account at any time. When you close your account, we'll deactivate
it and remove your posts and groups from Quyay. We may retain archived copies of your information as
required by law or for legitimate business purposes (including to help address fraud and spam).<br/><br/>
You may have choices available to you through the device or software you use to access Quyay. For example:<br/><br/>
The browser you use may provide you with the ability to control cookies or other types of local data storage;<br/><br/>
Your mobile device may provide you with choices around how and whether location or other data is shared with us.<br/><br/>
To learn more about these choices, please see the information provided by the device or software provider.<br/><br/>
</div>
<div class="modal_stack faq_Q">4. WHAT INFORMATION DO WE COLLECT?</div>
<div class="modal_stack faq_A">When you create groups and posts, anyone can view them.
You may also provide us with profile page information that that anyone can view. The
other limited instances where we may share your personal information include:<br/><br/>
When we have your consent. This includes sharing information with other services (like Facebook or Twitter)
when you've chosen to link to your Quyay account to those services or publish your activity on Quyay to them.<br/><br/>
We may employ third party companies or individuals to process personal information on our behalf based on our instructions
and in compliance with this Privacy Policy. In addition, some of the information we request may be collected by third
party providers on our behalf.<br/><br/>
If we believe that disclosure is reasonably necessary to comply with a law, regulation or legal request;
to protect the safety, rights, or property of the public, any person, or Quyay; or to detect, prevent,
or otherwise address fraud, security or technical issues.<br/><br/>
We may engage in a merger, acquisition, bankruptcy, dissolution, reorganization, or similar transaction
or proceeding that involves the transfer of the information described in this Policy.<br/><br/>
We may also share aggregated or non-personally identifiable information with our partners or others.
For example, we may tell a business using Quyay how many people reposted something they shared, or the
percentage of people who click a on post after viewing it.<br/><br/>
</div>
<div class="modal_stack faq_Q">5. OUR POLICY ON CHILDREN'S INFORMATION</div>
<div class="modal_stack faq_A">Quyay is not targeted to children under 13. If you learn that your minor
child has provided us with personal information without your consent, please contact us.<br/><br/></div>
<div class="modal_stack faq_Q">6. HOW DO WE MAKE CHANGES TO THIS POLICY?</div>
<div class="modal_stack faq_A">We may change this policy from time to time, and if we do we'll
post any changes on this page. If you continue to use Quyay after those changes are in effect,
you agree to the revised policy. If the changes are significant, we may provide more prominent
notice or obtain your consent as required by law.<br/><br/></div>