<!-- TIMELINE -->
<div id="timeline_col" class="profile-column">
  <div id="timeline_header" class="profile-column-header" >TIMELINE</div>
  <div class="timeline_container">
    <ul style="margin:0; padding:0;">
      <li class="timelineEvent" ng-repeat="event in timeline | reverse"> <!-- order from newest to eldest -->
        <a href="{{event.targetLink}}">
          <img class="sourceImg" ng-src="{{event.sourceImg}}" />
          <div class="timelineText">
            {{ event.message }}
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>
