<!-- TIMELINE -->
<div id="timeline_col" class="profile-column">
  <div id="timeline_header" class="profile-column-header" >TIMELINE</div>
  <div class="timeline_container">
    <ul style="margin:0; padding:0;">
      <li class="timelineEvent" ng-repeat="event in timeline | reverse"> <!-- order from newest to eldest -->
        <a href="{{event.targetLink}}">
          <img class="sourceImg" ng-src="{{event.sourceImg}}" />
          <div class="timelineText">
            {{ event.message }}
          </div>
        </a>
      </li>
    </ul>
  </div>
</div>

<!-- BADGE COLUMN -->
<div id="badge_col" class="profile-column">
  <div id="badge_header" class="profile-column-header">BADGES</div>
  <ul class="badge_chest" class="profile-column-contents-container">
    <img src="<%= rootPath %>/images/misc_images/badge1.png" width="60"/>
<!--     <li ng-repeat="badge in dummyData.badges | limitTo: 1">
      <img ng-src="{{badge.url}}">
    </li> -->
  </ul>
  <!-- Disabling view all button because showing a badge modal is just confusing when there is no badge system set up. -->
<!--   <div ng-show="dummyData.badges.length > 4" class="view_all"><p ng-click="popBadgeModal()" href="#">View All</p></div> -->
</div>
