<ul id="group_bar" class="clearfix" ng-show="content_tab == GROUPS">
  <li ng-repeat="group in groupList" ng-click="showGroup(group)" ng-class="{'active_tab': group_tab==group}">{{group}}</li>
</ul>
<ul id="profile_data_inner" class="clearfix">
  <li ng-repeat="pin in showPins" class="game_pin" profile-masonry>
    <a class="view_trigger" ng-click="viewBigPin(pin)">
      <img class="game_img" ng-src="{{pin.sourceUrl}}" width="220"/>
    </a>
    <div class="pin_footer">
      <p class="game_description">{{pin.description}}</p>
      <p class="game_attributes">
        <span>{{pin.likedBy.length}} likes</span>&nbsp;&nbsp;<span>{{pin.comments.length}} comments</span>
      </p>
    </div>
  </li>
</ul>