<div id="profile_footer">
  <div ng-class="{'active_tab': content_tab==GROUPS}" ng-click="getGroupData();">My Posts</div>
  <div ng-class="{'active_tab': content_tab==LIKES}" ng-click="showLikes();" >Liked Posts</div>
</div>
