<form class="my_settings_form">
  <h1>My Settings</h1>
  <hr/>
  <hr/>
  <ul class="param_list">
    <li class="param clearfix">
      <label for="id_email">email</label>
      <div><input id="id_email" type="text"></input></div>
    </li>
    <hr/>
    <li class="param clearfix">          
      <label>password</label>
      <div><a href="#">Change Password (dropdown)</a></input></div>
    </li>
    <hr/>
    <li class="param clearfix">  
      <label for="id_username">username</label>
      <div><input id="id_username" type="text"></input></div>
    </li>
    <hr/>
    <li class="param clearfix">  
      <label for="id_gender">gender</label>
      <input id="1" type="radio" name="group2" value="male"><label class="gender_option" for="1">Male</label>
      <input id="2" type="radio" name="group2" value="female"><label class="gender_option"for="2">Female</label>
      <input id="3" type="radio" name="group2" value="none" checked><label class="gender_option" for="3">Decline to State</label>
    </li>
    <hr/>
    <li class="param clearfix">
      <label for="id_bio">Bio</label>
      <div><textarea id="id_bio" type="text"></textarea></div>
    </li>
    <hr/>
    <li class="param clearfix">  
      <label for="id_site">Personal Web Site</label>
      <div><input id="id_site" type="text"></input></div>
    </li>
    <hr/>          
    <li class="param clearfix">
      <label for="id_media_settings">Social Media Settings</label>
      <div><input id="id_media_settings" type="text"></input></div>
    </li>
    <hr/>
    <li class="param clearfix">  
      <label for="id_privacy">Privacy Settings</label>
      <div><input id="id_privacy" type="text"></input></div>
    </li>
    <hr/>
    <li class="param clearfix"> 
      <label for="id_notify">notifications</label>
      <div><input id="id_notify" type="text"></input></div>
    </li>
    <hr/>
    <li class="param clearfix">
      <div><button type="submit">Deactivate Account</button></div>
    </li>
    <hr/>
    <li class="param clearfix"> 
      <button>Save Changes</button>
      <button>Cancel Changes</button>
    </li>
  </ul>
</form>