<div ng-repeat="pin in dummyData" class="game_pin" masonry>
  <div class="store_container">
    <p class="game_name"><b>{{pin.name}}</b></p>
    <div class="game_price">{{pin.price}}</div>
  </div>
  <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
    <img class="game_img" ng-src="{{pin.image}}" width="200"/>
  </a>
  <div class="store_container">
    <p class="download_btn">Download</p>
  </div>
</div>
