<div id="subnav" data-spy="affix" data-offset-top="42">
    <div id="subnav_content">
    	<% if(path === '/') { %>
	        <a href="#"><b>Following</b></a>&nbsp;<span>&#149;</span>&nbsp;
	        <div class="dropdown_tab">
	          <a class="dropdown-toggle" data-toggle="dropdown" href="About.html">
	            Categories
	            <b class="caret"></b>
	          </a>
	            <ul class="dropdown-menu two_col_dropdown">
	              <div class="col1">
	                <li>
	                  <a href="#"><img src="images/genre1.png" width="22" height="22">Role Playing</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre2.png" width="22" height="22">Console</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre3.png" width="22" height="22">Sports</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre4.png" width="22" height="22">Puzzle</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre5.png" width="22" height="22">Shooter</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre6.png" width="22" height="22">Space</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre7.png" width="22" height="22">Racing</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre8.png" width="22" height="22">Strategy</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre9.png" width="22" height="22">Fighting</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre10.png" width="22" height="22">Brain Training</a>
	                </li>
	              </div>
	              <div class="col2">
	                <li>
	                  <a href="#"><img src="images/genre1.png" width="22" height="22">Role Playing</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre2.png" width="22" height="22">Console</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre3.png" width="22" height="22">Sports</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre4.png" width="22" height="22">Puzzle</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre5.png" width="22" height="22">Shooter</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre6.png" width="22" height="22">Space</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre7.png" width="22" height="22">Racing</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre8.png" width="22" height="22">Strategy</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre9.png" width="22" height="22">Fighting</a>
	                </li>
	                <li>
	                  <a href="#"><img src="images/genre10.png" width="22" height="22">Brain Training</a>
	                </li>
	              </div>
	          </ul>
	        </div>&nbsp;<span>&#149;</span>&nbsp;
	        <a href="#">Popular</a>&nbsp;<span>&#149;</span>&nbsp;
	        <a href="/store">Store</a>
        <% } else if(path === '/store') { %>
        	<div class="dropdown_tab">
            <a id="about_toggle_2" class="dropdown-toggle" data-toggle="dropdown" href="About.html">
               Categories
              <b class="caret"></b>
            </a>
              <ul class="dropdown-menu two_col_dropdown">
                <div class="col1">
                  <li>
                    <a href="#"><img src="images/genre1.png" width="22" height="22">Role Playing</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre2.png" width="22" height="22">Console</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre3.png" width="22" height="22">Sports</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre4.png" width="22" height="22">Puzzle</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre5.png" width="22" height="22">Shooter</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre6.png" width="22" height="22">Space</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre7.png" width="22" height="22">Racing</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre8.png" width="22" height="22">Strategy</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre9.png" width="22" height="22">Fighting</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre10.png" width="22" height="22">Brain Training</a>
                  </li>
                </div>
                <div class="col2">
                  <li>
                    <a href="#"><img src="images/genre1.png" width="22" height="22">Role Playing</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre2.png" width="22" height="22">Console</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre3.png" width="22" height="22">Sports</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre4.png" width="22" height="22">Puzzle</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre5.png" width="22" height="22">Shooter</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre6.png" width="22" height="22">Space</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre7.png" width="22" height="22">Racing</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre8.png" width="22" height="22">Strategy</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre9.png" width="22" height="22">Fighting</a>
                  </li>
                  <li>
                    <a href="#"><img src="images/genre10.png" width="22" height="22">Brain Training</a>
                  </li>
                </div>
            </ul>
          </div>&nbsp;<span>&#149;</span>&nbsp;
          <div class="dropdown_tab">
            <a id="about_toggle_2" class="dropdown-toggle" data-toggle="dropdown" href="About.html">
               Devices
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu one_col_dropdown">
              <div class="col1">
                <li>
                  <a href="#"><img src="images/genre1.png" width="22" height="22">iPhone</a>
                </li>
                <li>
                  <a href="#"><img src="images/genre2.png" width="22" height="22">iPad</a>
                </li>
                <li>
                  <a href="#"><img src="images/genre3.png" width="22" height="22">Droid Phone</a>
                </li>
                <li>
                  <a href="#"><img src="images/genre4.png" width="22" height="22">Droid Tablet</a>
                </li>
              </div>
            </ul>
          </div>&nbsp;<span>&#149;</span>&nbsp;
          <div class="dropdown_tab">
            <a id="about_toggle_2" class="dropdown-toggle" data-toggle="dropdown" href="About.html">
               Price
              <b class="caret"></b>
            </a>
            <ul class="dropdown-menu one_col_dropdown">
              <div class="col1">
                <li>
                  <a href="#">$0-1</a>
                </li>
                <li>
                  <a href="#">$1-5</a>
                </li>
                <li>
                  <a href="#">$5-10</a>
                </li>
                <li>
                  <a href="#">$10-50</a>
                </li>
                <li>
                  <a href="#">$50+</a>
                </li>
              </div>
            </ul>
          </div>
        <% } %>
	</div>
	<% if(!loggedIn){ %>
		<hr/>
	    <div class="register_now">
	      <a href="/register">Register with SGN now!</a>
	    </div>
    <% } %>
</div>
    