<div ng-click="viewFAQ()" class="modal_slice faq_slice">
  FAQ
</div>
<div ng-click="viewToS()" class="modal_slice tos_slice about_selected">
  Terms of Service
</div>
<div ng-click="viewPrivacy()" class="modal_slice privacy_slice">
  Privacy Policy
</div>
<div ng-click="viewAcceptable()" class="modal_slice view_slice">
  Acceptable Use
</div>
<div class="modal_stack tos_stack">
  <b>Thank you for using Quyay! By doing so, you're making the world a better place, somehow.</b><br/><br/>
  <p>Within these Terms of Service, we've included summaries of each section of legalese called "The Quick Version".
  These are intended to help you understand what our lawyers are saying, without needing a degree in jargon. We still
  ask that you read the Terms of Service in their entirely, since these summaries are not formal, legal explanations
  and don't cover every little thing.<br/><br/>
  Quyay's products and services are provided by Slimstown Studios, Inc. (the "Company").
  These Terms of Service (the "Terms") govern your access to and use of Quyay's website,
  app, products, and services (the "Service"). Unless explicitly stated otherwise, any new
  features added to the Service shall be subject to the Terms. Please read these Terms carefully.
  If you have any questions, contact us by sending an email to info@quyay.com. By registering for,
  accessing, or using our Service, you agree to be bound by these Terms, by our Privacy Policy, and
  by our Acceptable Use Policy.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>1. USING QUYAY</b><br/><br/>
  <p>To use our Service, you must form a binding contract with the Company in compliance with these Terms and all applicable laws.
  You represent that you are of legal age to form a binding contract and are not a person barred from receiving services under any
  applicable laws. When you create your Quyay account, you are required to provide us with complete and accurate information.
  Any use or access by anyone under the age of thirteen (13) is prohibited. If you open an account on behalf of a company,
  organization, software developer, or other entity, then "you" includes you and that entity and you represent and warrant
  that you are authorized to grant all permissions and licenses provided in these Terms and bind the entity to these Terms
  and that you agree to these Terms on the entity's behalf. These Terms are separate from the Terms of Service required for
  software developers who agree to use the Company's software development kit, who agree to be listed in Quyay's store, or the
  Terms of Service governing any advertising agreement.<br/><br/>  Subject to these Terms, our Privacy Policy, and our Acceptable Use
  Policy, we grant you a limited, non-exclusive, non-transferable, and revocable license to use our Service.</p><br/><br/>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>You're at least 13 years old, otherwise you can't use Quyay. If you're using Quyay on behalf of a company,
  the company agrees to our rules through you.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>2. CONTENT YOU POST TO QUYAY</b><br/><br/>
  <p>Quyay allows you to post content, including photos, videos, comments, and other materials by uploading content
  from a computer or other device, linking to content from another website, or entering content via forms.
  Anything that you post or make available on our Service is called "User Content". You retain all rights in,
  and are solely responsible for, the User Content you post to Quyay. Quyay does not control the User Content
  posted via the Service and, as such, does not guarantee the accuracy, integrity, or quality of such User Content.
  You understand that by using the Service, you may be exposed to User Content that is offensive, indecent, or objectionable,
  even if such User Content is in violation of these Terms of Service or our Acceptable Use Policy. The Company will not be liable
  in any way for User Content, including, but not limited to, any errors or omissions in any User Content, or any loss or damage
  of any kind incurred as a result of the use of any User Content posted, emailed, transmitted, or otherwise made available via
  the Service.<br/><br/>
  You grant the Company and its users a non-exclusive, royalty-free, transferable, sublicensable, worldwide license to use,
  store, display, reproduce, repost, modify, create derivative works, perform, and distribute your User Content on Quyay solely
  for the purposes of operating, developing, providing, and using the Quyay Services. Nothing in these Terms shall restrict other
  legal rights Quyay may have to User Content. We reserve the right to remove or modify User Content for any reason, including
  User Content that we believe violates the Terms or Acceptable Use Policy.<br/><br/>
  Following termination or deactivation of your account, or if you remove any User Content from Quyay, we may retain your User
  Content for a commercially reasonable period of time for backup, archival, or audit purposes. Furthermore, Quyay and its users
  may retain and continue to use, store, display, reproduce, repost, modify, create derivative works, perform, and distribute any
  of your User Content that other users have stored or shared through the Service.<br/><br/>
  We value hearing from our users, and are always interested in hearing how we can improve Quyay. If you choose to submit comments,
  ideas or feedback, you agree that we are free to use them without any restriction or compensation to you. By accepting your
  submission, the Company does not waive any rights to use similar or related Feedback previously known to the Company, or developed
  by its employees, or obtained from sources other than you.</p><br/><br/>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>You post stuff to Quyay. Other users can reuse it, even if you remove it from your own account.
  If you have ideas for how to make Quyay better, we'd love to hear them and just might implement them.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>3. COPYRIGHT</b><br/><br/>
  <p>The Company respects the trademark rights of others. Accounts with username, group names,
  or any other content that misleads others or violates another's trademark may be updated, transferred, or permanently suspended.<br/><br/>
  If you are concerned that someone may be using your trademark in an infringing way via our Service,
  contact us using the following information. The Company will review your submission and take whatever action, in its sole
  discretion, that it deems appropriate, including temporary or permanent removal of the trademark from the Service.
  The agent of record for notices under the Digital Millennium Copyright Act is: Amar Gavhane, c/o Slimstown
  Studios, 555 Twin Dolphin Drive, Suite 330, Redwood City, CA 94065. You agree to notify us in email (to info@quyay.com)
  as well as in writing if you believe any content has been uploaded by another user in a way that infringes
  on your trademark or copyright.</p><br/><br/>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>Copyrights and trademarks are generally good things and we respect them. Please respect them, too, when posting content to Quyay.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>4. SECURITY</b><br/><br/>
  <p>While we work to protect the security of your content and account, the Company cannot guarantee that
  unauthorized third parties will not be able to circumvent our security measures. Please notify us immediately
  of any unauthorized use of your account or if you feel it may be compromised.</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>We try our best to keep your stuff safe. Do your part by using as secure a password as possible.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>5. THIRD PARTIES</b><br/><br/>
  <p>Our Service may contain links to websites, advertisements, services, or other pages that are
  neither controlled nor owned by the Company. We assume no responsibility for such third-party websites,
  products, services, or information. If you access any third-party website, advertisement, service, or
  other page, you acknowledge that you do so at your own risk and you agree that the Company will
  have no liability for the results of your accessing any third-party website, advertisement, service, or other page.</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>We try to control things on Quyay.com, but since we don't control the entire Internet (yet),
  we can't control the destinations of links you may come across on our site.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>6. TERMINATION</b><br/><br/>
  <p>The Company may suspend or terminate this license at any time, without notice to you, with or without cause.. Upon termination,
  you continue to be bound by Section 2 and Sections 6-13 of these Terms.</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>The Quick Version: Even if we break up, you're still obligated to share custody of our puppies and kitties,
  or at least to follow the rules you already agreed to.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>7. INDEMNITY</b><br/><br/>
  <p>If you use our Service for purposes that violate Section 1, as determined in our sole and absolute
  discretion, you agree to indemnify and hold harmless the Company and its officers, directors, employees,
  and agents from and against any claims, suits, proceedings, disputes, demands, liabilities, damages, losses,
  costs, and expenses, including, without limitation, reasonable legal and accounting fees, including costs of defense
  of claims, suits, or proceedings brought by third parties, in any way related to your access to our use of our Service,
  your User Content, or your breach of these Terms.</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>Although we hope it never comes to this, if we're ever sued for something you did on Quyay, you have to pay our costs.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>8. NO RESALE OF SERVICE</b><br/><br/>
  <p>You agree not to reproduce, duplicate, copy, sell, trade, resell, or exploit for any commercial purposes,
  any portion of the Service, including your username, use of the Service, or access to the Service, without
  authorization from the Company.</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>Don't be making money off stuff you're not supposed to.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>9. DISCLAIMERS</b><br/><br/>
  <p>The Service and all included content are provided on an "as is" basis without warranty of any kind, whether express or implied.
  The Company specifically disclaims any and all warranties and conditions of merchantability, fitness for a particular purpose,
  and non-infringement, and any warranties arising out of course of dealing or usage of trade.
  The Company assumes no liability and takes no responsibility for any User Content that you or any 
  ther user or third party posts or transmits using our Service. You understand and agree that you may be
  exposed to User Content that is inaccurate, objectionable, inappropriate for children, or otherwise unsuited to your purpose.</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>Sometimes, people don't  follow the rules and post things you and most people don't want to see,
  maybe even some NSFW or NSFL content. While we try to police it and get rid of it before you see it,
  there's still a chance you'll come across it before we zap it. If you see something inappropriate or
  objectionable, use the "Report" button next to the post and we'll get on it.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>10. LIMITATION OF LIABILITY</b><br/><br/>
  <p>To the maximum extent permitted by law, the Company shall not be liable for any indirect, incidental, special,
  consequential, or punitive damages, or any loss of profits or revenues, whether incurred directly or indirectly, or
  any loss of data, use, goodwill, or other intangible losses, resulting from your access to or use of or inability to
  access or use the Service, any conduct or content of any third party on the Service, including without limitation any
  defamatory, offensive, or illegal conduct of other users or third parties, or unauthorized access, use, or alteration
  of your transmissions or content. In no event shall the Company's aggregate liability exceed one hundred United States
  Dollars (USD $100.00).</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>We're trying to do our best, but we can't be perfect and there may be things that aren't our fault.
  If you think we did something wrong, let us know and we'll discuss it.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>11. ARBITRATION</b><br/><br/>
  <p>For any dispute you have with the Company, you agree to first contact us and attempt to resolve the
  dispute with us informally. If the Company has not been able to resolve the dispute with you informally,
  we each agree to resolve any claim, dispute, or controversy (excluding claims for injunctive or other equitable
  relief) arising out of or in connection with or relating to these Terms by binding arbitration by the American
  Arbitration Association ("AAA") under the Commercial Arbitration Rules and Supplementary Procedures for Consumer
  Related Disputes then in effect for the AAA, except as provided herein. Unless you and the Company agree otherwise,
  the arbitration will be conducted in the county where you reside. Each party will be responsible for paying any AAA
  filing, administrative and arbitrator fees in accordance with AAA rules, except that the Company will pay for your
  reasonable filing, administrative, and arbitrator fees if your claim for damages does not exceed $75,000 and is
  non-frivolous (as measured by the standards set forth in Federal Rule of Civil Procedure 11(b)). The award rendered
  by the arbitrator shall include costs of arbitration, reasonable attorneys' fees and reasonable costs for expert
  and other witnesses, and any judgment on the award rendered by the arbitrator may be entered in any court of competent
  jurisdiction. Nothing in this Section shall prevent either party from seeking injunctive or other equitable relief from
  the courts for matters related to data security, intellectual property or unauthorized access to the Service.  All claims
  ]must be brought in the parties' individual capacity, and not as a plaintiff or class member in any purported class or
  representative proceeding, and, unless we agree otherwise, the arbitrator may not consolidate more than one person's claims.
  You agree that, by entering into these terms, you and the Company are each waiving the right to a trial by jury or to participate
  in a class action.</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>Let's be friends, not frenemies.</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>12. GOVERNING LAW AND JURISDICTION</b><br/><br/>
  <p>These Terms shall be governed by the laws of the State of California, without respect to its conflict of laws principles.
  We each agree to submit to the personal jurisdiction of a state court located in San Mateo County, California or the United
  States District Court for the Northern District of California, for any actions not subject to Section 10 (Arbitration).
  Our Services are controlled and operated from the United States, and we make no representations that they are appropriate
  or available for use in other locations.</p>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>Again, let's be friends, not frenemies, or Flying Spaghetti Monster forbid, enemies!</p>
</div>
<div class="modal_slice tos_element tos_left">
  <b>13. GENERAL TERMS</b><br/><br/>
  <p>
  <i>Notification Procedures and changes to these Terms.</i> The Company reserves the right
  to determine the form and means of providing notifications to you, and you agree to
  receive legal notices electronically if we so choose. We may revise these Terms from time
  to time and the most current version will always be posted on our website. If a revision,
  in our sole discretion, is material we will notify you. By continuing to access or use the
  Service after revisions become effective, you agree to be bound by the revised Terms. If you
  do not agree to the new terms, please stop using the Service.<br/><br/>
  <i>Assignment.</i> These Terms, and any rights and licenses granted hereunder, may not be transferred or assigned by you,
  but may be assigned by the Company without restriction. Any attempted transfer or assignment in violation hereof
  shall be null and void.<br/><br/>
  <i>Entire Agreement/Severability.</i> These Terms, together with the Privacy Policy and any amendments and any
  additional agreements you may enter into with the Company in connection with the Service, shall constitute
  the entire agreement between you and the Company concerning the Service. If any provision of these Terms is
  deemed invalid, then that provision will be limited or eliminated to the minimum extent necessary, and the
  remaining provisions of these Terms will remain in full force and effect.<br/><br/>

  <i>No Waiver.</i> No waiver of any term of these Terms shall be deemed a further or continuing waiver of such
  term or any other term, and the Company's failure to assert any right or provision under these Terms
  shall not constitute a waiver of such right or provision.</p><br/><br/>
</div>
<div class="modal_slice tos_element tos_right">
  <i>The Quick Version:</i><br/><br/>
  <p>This is getting kind of boring. Let's end it, shall we?</p>
</div>