<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Quyay Alpha</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <!--<base href="<%=rootPath%>" target="_blank">-->
  <base href="https://<%=host%>" target="_blank">
  <link rel="shortcut icon" href="/images/favicon.ico?v2" type="image/x-icon" />
  <link href="/css/banner.css" rel="stylesheet" media="screen"/>
  <!-- Fix console.log breaking IE -->
  <script type="text/javascript">
    if (typeof console == "undefined" || typeof console.log == "undefined") var console = { log: function() {} }; 
  </script>
  <script type="text/javascript" src="/js/jquery-1.8.1.min.js"></script>
  <script type="text/javascript" src="/js/jquery.omniwindow.js"></script>
  <script type="text/javascript" src="/js/jquery.form.js"></script>
  <script type="text/javascript" src="/js/banner.js"></script>
  <script type="text/javascript">
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-39585074-1', 'quyay.com');
    ga('send', 'pageview');
  </script>
</head>
<body>
  <noscript>
    <style>
      #center_container { display: none; }
    </style>
    <p >Javascript is required to view Quyay, please enable javascript to view this page.</p>
  </noscript>
  <!--[if lte IE 8]>
    <style>
      #center_container { display: none; }
    </style>
    <p id="IE_alert"> Quyay will not run on Internet Explorer version 8 or below.
    Please upgrade to version 9 or higher to access the site. <p />
  <![endif]-->
  <div id="center_container">
    <!-- Container for an overlay: -->
    <div class="ow-overlay ow-closed"></div>
    
    <!-- Container for a modal window: -->
    <div class="modal ow-closed"><img height="600px" src="/images/QuyayPreview32613.png" /></div> 
    <div class="Q_Gateway_1">
      <img src="/images/UI/Q-Gateway-1-1.png" />
    </div>
    <div class="Q_Gateway_2">
      <a id="previewTrigger"></a>
      <img src="/images/UI/Q-Gateway-2.png" />
    </div>
    <br />
    <div class="Q_container">
      <div class="Q_Gateway_3">
        <img src="/images/UI/Q-Gateway-3.png" />
      </div>
      <div class="Q_Gateway_4">
        <img src="/images/UI/Q-Gateway-4.png" />
      </div>
    </div>
    <div class="Q_container">
      <div class="user_form_container">
        <img src="/images/UI/Q-Gateway-User-Signup.png" />
        <form id="user_form">
          <div class="form_group_email">
            <label for="user_email">Email*</label>
            <input id="user_email" type="email" name="email" required />
            <span class="alert"></span>
          </div>
          <div class="form_group_username">
            <label for="user_name">Username*</label>
            <input id="user_name" type="text" name="userName" required />
            <span class="alert"></span>
          </div>
          <div class="user_text">
            <p>If your application is approved, we'll email you with more info,
            including how to log in</p>
          </div>
          <input id="user_submit" type="submit" value=""><span class="user_alert hidden">Success!</span>
        </form>
      </div>
      <div class="company_form_container">
        <img src="/images/UI/Q-Gateway-User-Register.png" />
        <form id="company_form">
          <div class="form_group_email">
            <label for="company_email">Email*</label>
            <input id="company_email" type="email" name="email" required/>
            <span class="alert"></span>
          </div>
          <div class="form_group_username">
            <label for="company_name" id="company_label" >Company* Name</label>
            <input id="company_name" type="text" name="userName" required/>
            <span class="alert"></span>
          </div>
          <div class="company_text">
            <p>If you release games under your own name, use that as your company name.
            Once we verify that you're a developer, we'll contact you.</p>
          </div>
          <input id="company_submit" type="submit" value=""><span class="company_alert hidden">Success!</span>
        </form>
      </div>
    </div>
    <div class="login_form_container">
      <img class="rackspace_logo" src="/images/rackspace_logo.png" />
      <img class="sign_in" src="/images/UI/Q-Gateway-User-Signin.png" />
      <form id="login_form" method="post" action="/api/gatewayLogin" >
        <div class="form_group_email">
          <label for="login_email">Email*</label>
          <input id="login_email" name="email" type="email" required/>
        </div>
        <div class="form_group_password">
          <label for="login_password">Password*</label>
          <input id="login_password" name="password" type="password" required/>
        </div>
        <div class="login_text">
          <p>Your password is initially provided in the confirmation email we sent to you
          If you did not recieve this email, please check your spam or junk mail folder. You
          may change it once you sign in</p>
        </div>
        <input id="login_submit" type="submit" value=""><span class="login_alert"><span>
      </form>
    </div>
  </div>
</body>
</html>