<!DOCTYPE html>
<html lang="en">
	<head>
	    <meta charset="utf-8">
	    <title><%= title  %></title>
	    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
	    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	    <meta name="description" content="">
	    <meta name="author" content="">
	    <link href="css/bootstrap.css" rel="stylesheet" >
	    <link href="css/bootstrap-scroll-modal.css" rel="stylesheet" >
	    <link href="css/default.css" rel="stylesheet">
	    <link href="css/registration.css" rel="stylesheet">
	</head>
	<body>
	  	<form action=''/login" method="POST">
	  		<fieldset>
	  			<legend> Log In </legend>
	  			<p><input type="text" name="user[email]" placeholder="email"/></p>
	  			<p><input type="password" name="user[password]" placeholder="password"/></p>
	  			<input type="submit" value="Login" />
	  		</fieldset>
	  	</form>
	  	<a href="/">Back to Front</a>
	  	<br />
	  	<br />
	  	<a href="/cleardb">Empty Database</a>
	</body>
</html>