<html>
<head>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Quyay</title>
	<link href="/css/default.css" rel="stylesheet" media="screen">
	<link href="/css/mobile.css" rel="stylesheet" media="screen">
</head>
<body>
	<img src="/images/UI/QUYAY-LOGO-FINAL.png">
	<ul class="gameList">
		<li class="pin">
			<div class="title">Title</div>
		</li>
		<li class="pin">
			<div class="title">Title</div>
		</li>
		<li class="pin">
			<div class="title">Title</div>
		</li>
		<li class="pin">
			<div class="title">Title</div>
		</li>
	</ul>
</body>
</html>
