<!DOCTYPE html>
<html lang="en" ng-app="myApp">
	<head>
    <meta charset="utf-8">
    <title>SGN Angular</title>
    <link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="css/bootstrap.css" rel="stylesheet" >
    <link href="css/bootstrap-scroll-modal.css" rel="stylesheet" >
    <link href="css/default.css" rel="stylesheet">
    <% for(var file in cssFiles) { %>
      <link href="<%= cssFiles[file] %>" rel="stylesheet">
    <% } %>
  </head>
  <body ng-controller='AppCtrl'>
    
    <!-- Post Pin Modal (Step 1) -->
    <div class="modal hide fade" id="pinModal_1">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">close</button>
        <h3 class="control-label" for="inputUsername">Post your game video or screenshot!</h3>
      </div>
      <div class="modal-body">
        <div class="media_type">
          <div class="btn-group" data-toggle="buttons-radio">
            <img src="images/image.png" />
            <button class="btn">Image</button>
            <p>Image</p>
            <img src="images/video.png" />
            <button class="btn">Video</button>
            <p>Video</p>
          </div>
        </div>
        <div class="media_source">
          <div class="btn-group" data-toggle="buttons-radio">
            <img src="images/upload.png" />
            <button class="btn">Upload</button>
            <p>Upload</p>
            <img src="images/url.png" />
            <button class="btn">URL</button>
            <p>URL</p>
          </div>
        </div>
      </div>
    </div>
    
    <% if(nav){ %>
      <% include partials/navbar  %>
    <% } %>
    
    <!-- I GOT 99 PROBLEMS AND JAVASCRIPT AIN'T ONE! -->
    <noscript>
      <style type="text/css">
          #content  {display:none;}
      </style>
      <div class="noscriptmsg">
        You don't have javascript enabled.  Please Enable javascript to view this site.
      </div>
    </noscript>
    
    <div id="content" class="container">
      <div id="profile_col">
        <div class="left_container">
          <div class="left_padding">
            <div class="profile_pic">
              <img src="images/tony_profile.jpg" width="165"/>
            </div>
            <div class="profile_xp">
              <span class="curr_level">Level 2</span>
              <span class="to_level">40XP to level</span>
            </div>
            <div class="xp_bar clearfix">
              <span class="xp_gained">
                &nbsp;
              </span>
              <span class="xp_remaining">
                &nbsp;
              </span>
            </div>
          </div>
        </div>
        <div class="right_container">
          <div class="right_padding">
            <p class="profile_name">Tony Schwartz</p>
            <p class="bio_text"> Four score and seven years ago our fathers brought forth on this continent, a new nation, conceived in Liberty, and dedicated to the proposition that all men are created equal. 
            Now we are engaged in a great civil war, testing whether that nation, or any nation so conceived and so dedicated, can long endure. We are met on a great battle-field of that war. We have come to 
            dedicate a portion of that field, as a final resting place for those who here gave their lives that that nation might live. It is altogether fitting and proper that we should do this. </p>
            <textarea class="bio_txtarea hidden" rows="4" maxlength="400">Four score and seven years ago
            </textarea>
            <div class="bio_opts_container hidden">
              <p class="bio_opts">400 remaining</p>
            </div>
            <div class="social_media">
              <a href="">Facebook Page</a><a href="">Twitter</a>
              <a href="">Gamer Profile</a><a href="">Blog Site</a>
            </div>
          </div>
        </div>
        <div class="bot_container">
          <div class="comrade_tabs">
              <img src="images/friend_add.png" width="40"/>
              <p>3 Friends</p>
          </div>
          <img src="images/60x60.gif"/><img src="images/60x60.gif"/><img src="images/60x60.gif"/>
        </div>
        <div class="bot_container">
          <div class="comrade_tabs">
              <img src="images/friend_tag.png" width="40"/>
              <p>25 Followers</p>
          </div>
          <img src="images/60x60.gif"/><img src="images/60x60.gif"/><img src="images/60x60.gif"/><img 
          src="images/60x60.gif"/><img src="images/60x60.gif"/><img src="images/60x60.gif"/><img 
          src="images/60x60.gif"/><img src="images/60x60.gif"/>
        </div>
      </div>
      <!-- <div id="button_col">
        <button> Follow </button>
        <button> Add Friend </button>
      </div> -->
      <div id="badge_col">
        <div class="badge_chest">
          <div class="badge_head clearfix">
            <b class="badge_title">Badges</b>
            <span class="view_all"><a href="#">View All</a></span>
          </div>
          <img src="images/misc_images/badge1.png" width="60"/>
          <img src="images/misc_images/badge2.png" width="60"/>
          <img src="images/misc_images/badge3.png" width="60"/>
          <img src="images/misc_images/badge4.png" width="60"/>
          <img src="images/misc_images/badge5.png" width="60"/>
          <img src="images/misc_images/badge6.png" width="60"/>
        </div>
      </div>
      <div id="follower_col">
        <div class="badge_chest">
          <div class="badge_head clearfix">
            <b class="badge_title">10 Following</b>
            <span class="view_all"><a href="#">View All</a></span>
          </div>
          <img src="images/60x60.gif" width="60"/>
          <img src="images/60x60.gif" width="60"/>
          <img src="images/60x60.gif" width="60"/>
          <img src="images/60x60.gif" width="60"/>
          <img src="images/60x60.gif" width="60"/>
          <img src="images/60x60.gif" width="60"/>
          <img src="images/60x60.gif" width="60"/>
          <img src="images/60x60.gif" width="60"/>
          <img src="images/60x60.gif" width="60"/>
        </div>
      </div>
    </div>
    <div class="navbar post_bar" data-spy="affix" data-offset-top="600">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#">Groups</a></li>
          <li><a href="#">Posts</a></li>
          <li><a href="#">Likes</a></li>
          <li><a href="#">Favorite Games</a></li>
        </ul>
      </div>
    </div>
    <div id="tab_content" class="container">
      <!-- row 1 -->
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
          <img class="game_img" src="images/game_images/Gun-Bros-screenshot.png"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
          <img class="game_img" src="images/game_images/images (1).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
          <img class="game_img" src="images/game_images/images (2).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
          <img class="game_img" src="images/game_images/images (3).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a class="view_trigger" href="#viewPinModal" data-toggle="modal" data-dynamic="true">
          <img class="game_img" src="images/game_images/images (4).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <!-- row 2 -->
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a href="#">
          <img class="game_img" src="images/game_images/images (5).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a href="#">
          <img class="game_img" src="images/game_images/images (6).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a href="#">
          <img class="game_img" src="images/game_images/images (7).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a href="#">
          <img class="game_img" src="images/game_images/images (8).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
      <div class="game_pin">
        <div class="game_options hidden">
          <a class="like_btn">Like</a>
          <a class="pin_btn">Repin</a>
          <a class="comment_btn" href="#c1">Comment</a>
        </div>
        <a href="#">
          <img class="game_img" src="images/game_images/images (9).jpg"/>
        </a>
        <a name="c1"></a>
        <p class="game_description">Something something some</p>
        <p class="game_attributes">
          <span>1 like</span>&nbsp;&nbsp;<span>1 pin</span>&nbsp;&nbsp;<span>3 comments</span>
        </p>
        <div class="posted_by">
          <img src="images/30x30.gif" class="profile_img" /><p 
          class="post_text"><b>Tony</b> onto #RTS</p>
        </div>
        <div class="comment">
          <img src="images/30x30.gif" class="profile_img"/><p 
          class="post_text"><b>Jamie</b> This game is a really cool RTS game and I pley it all the time!1! </p>
        </div>
        <div class="respond clearfix" tabindex="">
          <img src="images/30x30.gif" class="profile_img"/><textarea 
          class="respond_txtarea" placeholder="Post comment" tabindex=""></textarea>
          <button class="respond_btn hidden">Comment</button>
        </div>
      </div>
    </div>
    <a href="#" class="scrollup">Scroll to Top</a>
    <div id="pag_nav">
      <a href="page_2.html">Page 2</a>
      <a href="page_3.html">Page 3</a>
    </div>
    
    <!-- JS -->
    <script src="js/lib/angular/angular.js"></script>
    <script src="js/angular/app.js"></script>
    <script src="js/angular/services.js"></script>
    <script src="js/angular/controllers.js"></script>
    <script src="js/angular/filters.js"></script>
    <script src="js/angular/directives.js"></script>
    <script src="js/jquery-1.8.1.min.js"></script>
    <script src="js/jquery-1.8.1.min.js"></script>
    <script src="js/jquery.masonry.min.js"></script>
    <script src="js/jquery.imagesloaded.min.js"></script>
    <script src="js/jquery.infinitescroll.min.js"></script> 
    <script src="js/bootstrap.js"></script>
    <script src="js/bootstrap-transition.js"></script>
    <script src="js/bootstrap-scroll-modal.js"></script>
  <% for(var file in jsFiles) { %>
    <script src="<%= jsFiles[file] %>"></script>
  <% } %>
  </body>
</html>