html{
  background-image: url("../images/UI/Q_gradient.png");
  background-size: 100%;
  min-width: 1200px;
  font-family: 'Open Sans', sans-serif;
  color: black;
  padding-bottom: 100px;
}
p{
  margin: 0;
  padding: 0;
}
.hidden{
  display: none;
}
noscript, #IE_alert{
  margin: 10px;
  text-align: center;
}
body{
  margin: 0;
  padding: 0;
}
#company_form .form_group_username .alert{
  position: relative;
  bottom: 7px;
}
#modal{
  position: static;
}
.alert{
  padding-left: 5px;
}

/* Default class for an overlay */
.ow-overlay {
  position: fixed;
  z-index: 10;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: #424242;
  opacity: 0.8;
}

/* Default class for both hidden overlay and modal window */
.ow-closed {
  display: none;
  z-index: 1000;
}

/* Default class for modal window */
.modal {
  left: 27%;
  top: 50px;
  position: fixed;
  width: 300px;
  height: 300px;
  z-index: 100;
}

#previewTrigger{
  cursor: pointer;
  position: absolute;
  left: 387px;
  width: 224px;
  height: 42px;
  bottom: 24px;
  background: url("../images/UI/Preview.png") no-repeat scroll 0 0 transparent;
}

.user_alert{
  margin-left: 10px;
  color: #8FC10F;
  font-weight: bold;
  position: absolute;
  top: 283px;
  left: 260px;
}
.company_alert{
  margin-left: 10px;
  color: #8FC10F;
  font-weight: bold;
  position: absolute;
  top: 283px;
  left: 290px;
}
.login_alert{
  left: 590px;
  position: absolute;
  top: 238px;
}
#center_container{
  width: 1000px;
  /*background-color: rgba(0, 0, 255, 0.2);*/
  /*border: 1px solid black;*/
  margin: auto;
  text-align: center;
  margin-top: 20px;
  margin-bottom: 20px;
}
.Q_container{
  border-bottom: 3px solid rgba(100, 100, 100 , .2);
  -moz-background-clip: border;     /* Firefox 3.6 */
	-webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}

.Q_Gateway_1{
  padding: 20px 0;
  border-bottom: 3px solid rgba(100, 100, 100 , .2);
  -moz-background-clip: border;     /* Firefox 3.6 */
	-webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  /*border-bottom: 3px solid black;*/
}
.Q_Gateway_2{
  padding: 20px 0;
  position: relative;
  border-bottom: 3px solid rgba(100, 100, 100 , .2);
  -moz-background-clip: border;     /* Firefox 3.6 */
	-webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
}
.Q_Gateway_3{
  padding: 20px 0;
  padding-right: 33px;
  border-right: 3px solid rgba(100, 100, 100 , .2);
  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  display: inline-block;
}
.Q_Gateway_4{
  padding: 20px 0;
  padding-left: 30px;
  display: inline-block;
}
.user_form_container{
  height: 286px;
  padding: 20px 33px 20px 0;
  width:360px;
  display: inline-block;
  vertical-align: top;
  border-right: 3px solid rgba(100, 100, 100 , .2);
  -moz-background-clip: border;     /* Firefox 3.6 */
  -webkit-background-clip: padding-box; /* for Safari */
  background-clip: padding-box; /* for IE9+, Firefox 4+, Opera, Chrome */
  position: relative;
}
.company_form_container{
  padding: 20px 0 20px 30px;
  width:360px;
  display: inline-block;
  vertical-align: top;
  position: relative;
}
.company_form_container img, .user_form_container img{
  margin-bottom: 10px;
}
#user_form, #company_form{
}
#user_form label, #company_form label, #login_form label{
  font-weight: bold;
  color: #8FC10F;
}
.form_group_email{
  padding:5px;
  text-align: left;
  margin-bottom: 15px;
}
.form_group_username{
  padding:5px;
  text-align: left;
  margin-bottom: 15px;
  height: 20px;
}
.form_group_password{
  padding:5px;
  text-align: left;
  margin-bottom: 15px;
}
label{
  margin-right:5px;
}
input{
  height: 20px;
  padding:2px;
}

input#user_email, input#company_email, input#login_email{
  width: 195px;
}
input#login_password{
  width: 162px;
}
input#user_name{
  width: 160px;
}
input#company_name{
  width: 165px;
  display: inline-block;
  vertical-align: top;
}
label#company_label{
  display: inline-block;
  width: 80px;
  line-height: 14px;
}
#user_form  > *{
  /*display: inline-block; */
}
#login_form{
  width:360px;
  margin: auto;
}
.user_text, .company_text{
  width: 300px;
  height: 60px;
  margin: auto;
  font-size:12px;
  color: #777777;
  font-weight: bold;
  text-align: center;
}
.login_text{
  width: 400px;
  height: 60px;
  margin: auto;
  font-size:12px;
  color: #777777;
  font-weight: bold;
  text-align: center;
}

#user_submit{
  background: url("../images/UI/Q-Gateway-Submit.png") no-repeat scroll 0 0 transparent;
  width: 162px;
  height:30px;
  cursor: pointer;
}
#company_submit{
  background: url("../images/UI/Q-Gateway-Submit.png") no-repeat scroll 0 0 transparent;
  width: 162px;
  height:30px;
  cursor: pointer;
}
#login_submit{
  background: url("../images/UI/Q-Gateway-Submit.png") no-repeat scroll 0 0 transparent;
  width: 162px;
  height:30px;
  cursor: pointer;
}
.rackspace_logo{
  position: absolute;
  bottom: 0;
  left: 0;
}

.login_form_container{
  position: relative;
}
.sign_in{
  margin: 20px 0;
}