/* Default.css contains basic global defaults for css,
 * as well as components that are consistant across all
 * pages. The goal being to abstract all generic css
 * to this file.
 */
/* Colors */
/* Mixins */
.background_img {
  background-image: url("../images/UI/dark_dimple.png");
}

/* global defaults */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  font-family: 'Open Sans', sans-serif;
  color: black;
}
html {
  background-image: url("../images/UI/Q_gradient.png");
  background-size: 100% auto;
  padding-bottom: 100px;
}
body {
  background: none;
  /*background: -moz-linear-gradient(left,  #DDDDDD,  #F5F5F5);*/

}
div{
  margin:0;
  padding:0;
}
textarea {
  resize: none;
}
hr {
  border: 1px solid #BBBBBB;
  margin: 0;
}
noscript{
  margin: 10px;
  text-align: center;
}
ul,
li {
  list-style-type: none;
}
a,
a:hover {
  text-decoration: none;
}
.col1 li a:hover, .col2 li a:hover{
  background: #14A9E3;
}
#profile_dropdown li a:hover{
  background: #14A9E3;
}
.dropdown-menu li a:hover{
  background: #14A9E3;
}
noscript, #IE_alert{
  margin: 10px;
  text-align: center;
}
p {
  padding: 0;
  margin: 0;
  word-wrap: break-word;
}
label {
  display: inline;
}

/* Placeholder polyfill */
input, textarea { color: #000; }
.placeholder { color: #aaa; }

/* Bootstrap overrides */
.dropdown-menu{
  padding: 0;
}
/*.dropdown-menu a {
  padding: 5px;
}*/

.img{
  width: none;
  height: none;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */

  display: table;
  /* 2 */

}
.clearfix:after {
  clear: both;
}
.hidden {
  display: none !important;
}
.pointer{
  cursor: pointer;
}
/* Elements */
#content {
  margin: 20px auto 20px;
}
/* Override bootstrap defaults */
form{
  margin: 0;
  padding: 0;
}

.dropdown-menu a{
  white-space: normal;
}

.form-horizontal .control-group {
    margin-bottom: 20px;
    margin-top: 20px;
}
.control-label {
    font-size: 16px;
    font-weight: bold;
    width: 100px;
}

.form-horizontal .controls {
  margin-left: 120px;
}
.form-horizontal .controls{
  margin-left: 160px;
}

.form-horizontal .control-label{
  font-size: 16px;
  font-weight: bold;
  width: 120px;
}

.navbar-inverse .navbar-inner{
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(enabled=false)";
}

.dropdown-toggle {
  background: none !important;
}

.rackspace_logo{
  right: 45%;
  position: fixed;
  z-index: -1;
  bottom: 20px;
}

/****************** Top Nav Bar ************************/
#nav {
  /*background: yellow;*/
  min-width: 1180px;
  background: none;
  margin: 0;
  position: relative;
}
#nav * {
  font-family: 'Nobile', arial, serif;
}
#metal {
  position: absolute;
}
#nav_left {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(left, #6d9100, #99cc00);
  height: 50px;
  width: 240px;
  padding-left: 20px;
}
#nav_right {
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#99cc00', endColorstr='#6d9100', GradientType=1);
  background: -webkit-gradient(linear, right top, left top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(right, #6d9100, #99cc00);
  height: 50px;
  float: right;
  margin: 0;
}
#nav_right > li {
  height: 50px;
  margin-right: 10px;
}
#nav_right li > ul > li {
  height: 100%;
  margin: 0;
}
#notifications {
  position: absolute;
  top: 50px;
  z-index: 3;
}
#notify_list {
  position: absolute;
  left: 10px;
}
#notify_list li {
  display: inline-block;
  position: relative;
}
#notify {
  /* position: absolute; 
  top: 50px; */

  width: 270px;
  height: 40px;
  z-index: 2;
  box-shadow: 0 5px 10px -5px #333333;
}
#notify_div{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=1);
  background: -webkit-gradient(linear, left top, right top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(left, #6D9100, #99CC00);
  display:inline-block;
  vertical-align:top;
  width: 270px;
  height: 40px;
  z-index: 2;
  box-shadow: 0 5px 10px -5px #333333;
}

#notify_triangle {
  left: 268px;
  /*position: absolute;
  top: 50px;*/

  height: 40px;
  width: 34px;
  z-index: 2;
}
#nav_content {
  position: relative;
  background: #99cc00;
  padding: 0;
  margin: auto;
  border: none;
  height: 50px;
  box-shadow: 0 5px 10px -5px #333333;
  min-width: 800px;
}
#main_logo:link,
#main_logo:visited,
#main_logo:active,
#main_logo:hover {
  color: white;
  text-shadow: 2px 2px 1px #333;
  position: absolute;
  left: 56%;
  white-space: nowrap;
  margin-left: -150px;
  top: 3px;
  max-width: 200px;
  text-decoration: none;
  z-index: 100;
  font-size: 40px;
  font-weight: bold;
  width: 120px;
}
#main-logo img{
  height:100px;
  box-shadow: 0 5px 10px -5px #333333;
}
.affix {
  top: 0px;
}
.caret {
  margin-top: 7px;
}
#search_bar {
  float: left;
  margin-top: 10px;
}
.search_glass {
  height: 20px;
  position: absolute;
  right: 10px;
  top: 14px;
  z-index: 2;
}
#search_bar input {
  width: 210px;
  background: #F0F8F1;
  border-color: #CFCACA;
  color: grey;
  font-size: 16px;
}
#search_bar input:focus {
  color: black;
}
.new_followers,
.new_tags,
.new_messages {
  margin-left: 10px;
  padding: 0 10px;
}
.nav-collapse {
  margin: 0 20px;
}
.pin_it {
  margin-left: 10px;
}
.log_in {
  margin-right: 10px;
}
#post_btn {
  padding-top: 10px;
}
#post_btn img{
  width: 120px;
}
#about_toggle {
  padding: 5px 0 0 0;
  height: 100%;
}
#about_toggle img {
  margin-top:5px;
  width: 120px;
}
#about_dropdown {
  min-width: 100px;
}

/*Generic notification item elements*/
.event_link{
  cursor: pointer;
}

.notification-text {
  width: 65%;
  float: left;
}
.notification-profile-image {
  float: left;
  width: 40px;
  padding-right: 10px;
}
.notification-item-right-box {
  float: right;
  width: 60px;
}

.notification-item-right-box button{
  width: 100%;
  height: 18px;
  font-size: 11px;
  line-height: 11px;
  padding: 0px 5px;
}
.icon-flag {
  margin-left: 23px;
  margin-top: 18px;
}

/* Notifications dropdowns */
.friend_buttons{
  /*margin-left:50px;*/
}

.targetThumb img{
  width: 30px;
  height: 30px;
  margin-left: 5px;
  margin-top: 5px;
}

.notifications-count-badge {
  background-color: red;
  color: white;
  border-radius: 4px;
  width: 17px;
  height: 17px;
  top: -5px;
  position: absolute;
  text-align: center;
  line-height: 17px;
  left: 43px;
}
#follower_toggle,
#tag_toggle,
#message_toggle {
  padding: 0;
  margin: 0;
  cursor: pointer;
}
#follower_dropdown,
#tag_dropdown,
#message_dropdown {
  left: 20px;
  min-width: 269px;
  top: 42px;
  background: #DCDCDC;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
  border: 2px solid #333333;
}
#follower_dropdown li,
#tag_dropdown li,
#message_dropdown li
{
  width: 100%;
  border-bottom: 1px solid #EBEBEB;
}
#follower_dropdown {
  left: -35px;
}
#tag_dropdown {
  left: -104px;
  /*font-size: 12px;*/
}
#message_dropdown {
  left: -173px;
}
#follower_dropdown:after,
#tag_dropdown:after,
#message_dropdown:after {
  border: none;
}
#follower_dropdown:before,
#tag_dropdown:before,
#message_dropdown:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 5px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: black;
}
#follower_dropdown:before{
  left: 59px;
}
#tag_dropdown:before {
  left: 129px;
}
#message_dropdown:before {
  left: 198px;
}
#follower_dropdown a,
#tag_dropdown a,
#message_dropdown a
 {
  padding: 5px;
  /*padding: 0px 9px*/
  /*height: 44px;*/
}
#follower_dropdown .notification-item-right-box {
  width: 60px;
}

/* Drop down going left */
#profile_toggle {
  height: 45px;
  position: relative;
  min-width: 130px;
  margin: 5px 0 0 0;
  padding: 0;
  color: white;
}
#profile_toggle .caret{
  top: 10px;
  border-top-color: white;
  border-bottom-color: white;
}
#profile_tab{
  position: relative;
}
#nav_right .dropdown-menu.active#profile_dropdown, .dropdown-menu {
  min-width: 0;
  position: absolute;
  right: 0;
  top:5px;
  border: 2px solid black;
  top: 55px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  /* CSS3 */
}
#nav_right #about_tab .dropdown-menu{
  width: 140px;
  position: absolute;
  right: 0;
  top:5px;
  border: 2px solid black;
  top: 50px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}
#nav_right #about_tab .dropdown-menu:before{
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 90px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: black;
}
#nav_right .dropdown-menu.active#profile_dropdown:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 5px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: black;
}
#nav_right .dropdown-menu.active#profile_dropdown:before li{
  height:50px;
}
#profile_small {
  padding-right: 10px;
  width: 40px;
  max-height: 165px;
}
#profile_post {
  width: 120px;
  padding-top:5px;
  position: relative;
  left:10px;
}
#login_btn {
  width: 100px;
}
#nav_right {
  font-size: 1em;
}
#nav_right ul.dropdown-menu {
  padding: 0;
  margin: 0;
}
#nav_right .dropdown-menu.active {
  margin: 0;
  border: 1px solid #CFCACA;
  background: #DCDCDC;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);

}
#nav_right .dropdown-menu.active:after {
  border: none;
}
#nav_right .dropdown-menu.active:before {
  border: none;
}
#nav_right a {
  cursor: pointer;
}

/************* Subnav ************************/
#subnav {
  background: none;
  border-top: 1px solid #CFCACA;
  margin: auto;
  width: 100%;
  min-width: 800px;
  z-index: 2;
}
#subnav_filler {
  background: #848484;
  height: 30px;
  width: 1300px;
  position: absolute;
  z-index: -1;
  margin: 0;
  padding: 0;
  float: left;
}
#subnav_content {
  background: #848484;
  height: 30px;
  margin: auto;
  border-bottom: 2px solid #B8B8B8;
  /*padding-top: 5px;*/

  text-align: center;
  width: 100%;
  box-shadow: 0 5px 10px -5px #333333;
}
#subnav_content > * {
  color: white;
  cursor: default;
  text-shadow: 1px 1px 1px #000;
  margin: 0 10px;
  padding: 3px 10px 0;
}
#subnav_content .dropdown_tab {
  position: relative;
  display: inline-block;
}
#subnav_content .dropdown_tab .dropdown-toggle {
  color: white;
}
.navbar-inverse .nav li.dropdown > .dropdown-toggle .caret{
  margin-top:15px;
  border-bottom-color: black;
  border-top-color: black;
}
#subnav_content .dropdown_tab .dropdown-menu {
  text-align: left;
  /*border: 2px solid #F9C705;*/

  -webkit-border-radius: 5px;
  /* Safari, Chrome */
  border-radius: 2px solid #F9C705;
  /* CSS3 */

}
.two_col_dropdown {
  margin: 0;
  padding: 0;
  background: #DCDCDC;
  top: 32px;
  border: 2px solid black;
  -webkit-border-radius: 6px;
  border-radius: 6px 6px 6px 6px;
  width: 330px;
}
.two_col_dropdown:before {
  content: ' ';
  height: 0;
  position: absolute;
  width: 0;
  left: 35px;
  top: -20px;
  border: 10px solid transparent;
  border-bottom-color: black;
}
.one_col_dropdown {
  margin: 0;
  padding: 0;
  background: #E9DBCC;
  min-width: 145px;
  top: 30px;
}
.two_col_dropdown .col1,
.two_col_dropdown .col2 {
  width: 165px;
  float: left;
  text-align: left;
}
.one_col_dropdown .col1 {
  width: 145px;
  float: left;
}
.two_col_dropdown a,
.one_col_dropdown a {
  margin: 0;
  padding: 0;
  padding: 5px;
  text-shadow: none;
  cursor: pointer;
}
.two_col_dropdown div img,
.one_col_dropdown div img {
  margin-right: 5px;
}
.register_now {
  font-size: 20px;
  text-align: center;
  padding: 0;
}
.register_inner {
  padding: 10px 0;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=1);
  background: -moz-linear-gradient(top, #848484, #c2c2c2);
  width: 700px;
  margin: auto;
  border-right: 2px solid #B8B8B8;
  border-left: 2px solid #B8B8B8;
  border-bottom: 2px solid #B8B8B8;
  position: relative;
  top: -2px;
  box-shadow: 0 5px 10px -5px #333333;
}
.register_inner > * {
  display: inline-block;
}
.register_inner p {
  font-weight: 700;
  color: black;
}
.register_inner img {
  margin-right: 20px;
  width: 100px;
  cursor: pointer;
}
.game_pin,
.store_pin {
  background: #FBFBFA;
  width: 220px;
  float: left;
  margin: 0 0 15px 15px;
  font-size: 12px;
  -moz-box-shadow: 10px 10px 5px -2px #555555;
  /* Firefox */

  -webkit-box-shadow: 10px 10px 5px -2px #555555;
  /* Safari, Chrome */

  box-shadow: 10px 10px 5px -2px #777777;
}
.game_img {
}

/* Feedback tab */
#feedback_tab{
  z-index: 1;
  position: fixed;
  top: 45%;
  cursor: pointer;
  width: 27px;
}

/* Scroll up button */
#scrollup {
  background: #FDFDFD;
  bottom: 15px;
  font-size: 25px;
  text-align: center;
  opacity: 0.9;
  display: none;
  height: 80px;
  position: fixed;
  right: 0px;
  width: 80px;
  box-shadow: 0 0 5px black;
}
#scrollup img {
  opacity: 1.0;
  margin-top: 13px;
}
#scrollup:hover{
  cursor: pointer;
}

/* Alerts */
.alert{
  background-color: transparent;
  color: black;
  font-size: 16px;
  border: none;
  margin: 10px 0;
}

#alertContainer{
  position:fixed;
  bottom:25px;
  left:25px;
  z-index: 200;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00');
  background: -webkit-gradient(linear, left bottom, left top, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  -webkit-border-radius: 10px;
  border-radius: 10px;
  border: solid 2px black;
}

/* Enlarged Gamepin */
.profile_img{
  height: 30px;
}
.view_trigger:hover{
  cursor: pointer;
  /*cursor: url("../images/UI/qicon.png");*/
}