/* Default.css contains basic global defaults for css,
 * as well as components that are consistant across all
 * pages. The goal being to abstract all generic css
 * to this file.
 */

/* global defaults */
html{}
body{
  background: #ADB5AD;
}
textarea{
  resize:none;
}
hr{
  border: 1px solid #BBBBBB;
  margin:0;
}
ul,li{
  list-style-type: none;
}
a, a:hover{
  color: blue !important;
  text-decoration: none;
}
p{
  padding:0;
  margin:0;
}
label{
  display:inline;
}
.caret{
  margin: 8px 2px 0 2px; !important;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.clearfix:after {
    clear: both;
}
.hidden{
  display: none !important;
}

/* Elements */
#content{
  margin: 20px auto 20px;
}
/* Top Nav Bar */
#nav{
  background: #E3F1E4;
  margin:0;
}
#nav_left{}
#nav_right{
  float:right;
}
#nav_content{
  background: #E3F1E4;
  padding:0;
  margin: auto;
  border:none;
  box-shadow:none;
}
#main_logo:link, #main_logo:visited, #main_logo:active, #main_logo:hover{
  font-size: 20px;
  color: #34D0BA;
  position:absolute;
  left:50%;
  white-space: nowrap;
  margin-left: -100px;
  top:10px;
  text-decoration:none;
  z-index:100;
}
.affix{
  top:0px;
}
.nav .caret{
  margin-top: 8px;
}
#search_bar{
  float: left;
  padding-left: 25px;
}
#search_bar input{
  width:100px;
  background: #F0F8F1;
  border-color: #CFCACA;
  color: #CFCACA;
}
#search_bar input:focus{
  color: grey;
}