/* Override defaults */
textarea{
  margin:0;
  padding:0;
}

/* General Layout */
#content{
  width: 1075px;
}
#content > *{
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}

#tab_content{
  margin: 80px auto 20px;
  width: 1340px;
}

#nav{
  -moz-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}
#nav_content{
  width: 1075px;
}

/* Nav Bar */
.navbar-inner{
  /*background:red;
  border:none;
  background: #E3F1E4;
  width: 346px;
  margin:auto;
  -moz-border-radius: 0; 
  -webkit-border-radius: 0; 
  border-radius: 0;  CSS3 */
}

.new_followers, .new_tags, .new_messages{
  padding: 5px;
  margin-left: 10px;
}

.nav-collapse{
  margin: 0 20px;
}
.pin_it{
  margin-left:10px;
}
.log_in{
  margin-right:10px;
}
#about_toggle{
  padding-bottom: 12px;
}
#about_dropdown {
  min-width:100px;
}
#follower_toggle, #tag_toggle, #message_toggle{
  padding:0;
  margin:0;
}
#follower_dropdown, #tag_dropdown, #message_dropdown {
  left: 170px;
  min-width: 130px;
  top: 40px;
  background: #E9DBCC;
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Chrome */
  border-radius: 0; /* CSS3 */
}

#follower_dropdown:after, #tag_dropdown:after, #message_dropdown:after {
  border:none;
}
#follower_dropdown:before, #tag_dropdown:before, #message_dropdown:before {
  border:none;
}

/* Drop down going left */
#profile_toggle{
  position:relative;
  min-width: 90px;
}
#profile_dropdown{
  min-width: 0;
  position: absolute;
  right: 0;
  top: 41px;
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Chrome */
  border-radius: 0; /* CSS3 */
}
#profile_small{
  padding-right:10px;
}
#nav_right {
  font-size:1em;
}
#nav_right .dropdown-menu.active{
 top: 41px;
 margin:0;
 border:1px solid #CFCACA;
 background: #E9DBCC;
 -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
 -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
 box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
  
 -moz-border-radius: 0; /* Firefox */
 -webkit-border-radius: 0; /* Safari, Chrome */
 border-radius: 0; /* CSS3 */
}
#nav_right .dropdown-menu.active:after {
  border:none;
}

#nav_right .dropdown-menu.active:before {
  border:none;
}

/* Pin Modal_1 and Pin Modal_2 */
#pinModal_2{
  width:650px;
}
#pinModal_2 input{
  width:150px;
}
.media_type, .media_source{
  float:left;
}
#myCarousel, .post_metadata{
  display:inline-block;
  vertical-align:top;
}
#myCarousel{
  height:200px;
  width:200px;
}
.post_metadata{
  width:300px;
}
.post_description, .post_tags{
  display:inline-block;
  vertical-align:top;
}
.post_description{
}
.post_tags{
  width:300px;
}

/* Game Pin object */
.game_pin{
  background:#E9DBCC;
  width:220px;
  float:left;
  padding:15px 15px 0 15px;
  margin: 0 0 15px 15px;
  font-size:12px;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}
.game_options{
  position:absolute;
  margin: -7px 0 0 -5px;
}
.game_options *{
  background: white;
  display: inline-block;
  text-align:center;
  width: 60px;
  margin-left:5px;
  border:2px solid black;
  cursor: pointer;
}
.game_description, .game_attributes, .posted_by{
  margin-top: 5px;
  margin-bottom:0px;
}
.game_description{
}
.game_img{
}
.game_attributes{
  margin-bottom:5px;
}
.posted_by, .comment, .respond{
  padding: 10px 15px;
  margin: 1px -15px 0 -15px;
  border-bottom: 1px solid #A5C0C8;
  background: #CBE6EE;
}
.posted_by img, .posted_by p, .comment img, .comment p{
  display:inline-block;
  vertical-align: top;
}
.posted_by p{
}
.profile_img{
}
.post_text, .respond_txtarea{
  max-width: 170px;
  margin-left: 5px;
  line-height: 1.1em;  
}
.respond_txtarea{
  font-size:11px;
  height: 20px;
  line-height: 1em; 
}
.respond_btn{
  margin-top:10px;
  float:right;
}
/* Scroll up button */
.scrollup{
  background: grey;
  bottom: 0;
  font-size: 25px;
  text-align:center;
  opacity: 0.8;
  display: none;
  height: 80px;
  position: fixed;
  right: 100px;
  width: 80px;
  border:2px solid black;
}

/* My Profile */
/* profile area */
#profile_col{
  width:800px;
  float:left;
  background:#E9DBCC;
}
.left_container{
  float:left;
  width: 200px;
}
.left_padding{
  padding:15px;
}
.right_container{
  float:left;
  width: 600px;
  height: 250px;
}
.right_padding{
  padding:15px;
}
.right_padding > *{
  float:left;
}
.profile_pic {
  
}
.profile_name{
  font-size:30px;
  padding-bottom:25px;
  width:100%;
}
.bio_container{
  width: 100%;
  background: cyan;
  margin-right:15px;
}
.bio_textarea, .bio_text{
  height:150px;
}
.bio_txtarea{
  width:100%;
}
.bio_text{
  width:100%
}
.social_media{
  margin-top:15px;
}
.social_media *{
  margin-right:20px;
}
.bio_opts_container{
  width: 100%;
  text-align:right;
}
.profile_xp{
  margin-top:10px;
}
.curr_level{
  font-size:18px;
}
.to_level{
  float:right;
}
.xp_bar{
  border: 2px solid black;
  margin-top:10px;
  background:green;
  width:170px;
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px; /* CSS3 */
}
.xp_gained{
  float:left;
  width: 103px;
  border-right: 2px solid black;
  -moz-border-radius-topleft: 5px; /* Firefox */
  -moz-border-radius-bottomleft: 5px; /* Firefox */
  border-top-left-radius: 5px; /* CSS3 */
  border-bottom-left-radius: 5px; /* CSS3 */
  background:Chartreuse ;
}
.xp_remaining{
  float:right;
  width: 65px;
  -moz-border-radius-topright: 5px; /* Firefox */
  -moz-border-radius-bottomright: 5px; /* Firefox */
  border-top-right-radius: 5px; /* CSS3 */
  border-bottom-right-radius: 5px; /* CSS3 */
  background:Cornsilk;
}
/* comrade area */
.bot_container{
  float: left;
  width: 770px;
  margin-top:1px;
  padding: 15px 15px 15px 15px;
  border-top: 1px solid #A5C0C8;
}
.bot_container > *{
  padding-left: 5px;
  display:inline-block;
}
.comrade_tabs{
  /* width: 180px; perfectly aligned */
  width: 170px;
}
.comrade_tabs > *{
  display:inline-block;
}
.add_follower{
  margin-left:5px;
  float:right;
}

/* friend/follower buttons */
#content #button_col{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width:238px;
  margin:0 15px 15px 15px;
  float:left;
  text-align: center;
}
#button_col button{
  width: 100px;
  font-size: 16px;
}

/* badge area */
#badge_col{
  width:238px;
  margin:0 15px 15px 15px;
  float:left;
  background: #E9DBCC;
}
.badge_chest{
  text-align:center;
  padding:15px;
}
.badge_chest img{
  margin:3px 3px;
}
.badge_head{
  display:block;
  margin-bottom: 10px;
}
.badge_head .badge_title{
  float:left;
}
.badge_head .view_all{
  float:right;
}

#follower_col{
  width:238px;
  margin:0 15px;
  float:left;
  background: #E9DBCC;
}

/* friends followers */
#content #comrades_col{
  float:left;
  background: #E9DBCC;
  width: 800px;
}

/* post navbar */
.post_bar{
  float:left;
  z-index: 100;
  width:100%;
  background: #E3F1E4;
  -moz-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}
