/* Override defaults */
.profile textarea{
}

/* slices and stacks */
.group_slice{
  cursor: pointer;
  -moz-box-sizing: border-box;
  float: left;
  width:20%;
}

#follow_user{
  -moz-box-sizing: border-box;
  display: inline;
  font-size: 15px;
  height: 40px;
  width: 45%;
}
#friend_user{
  -moz-box-sizing: border-box;
  display: inline;
  font-size: 15px;
  height: 40px;
  width: 50%;
}
#message_user{
  font-size: 15px;
  position: absolute;
  right: 10px;
  top: 10px;
}

#group_bar{
  width: 1024px;
  background: -moz-linear-gradient(center bottom , #6D9100, #99CC00) repeat scroll 0 0 transparent;
  color: white;
  font-weight: bold;
  padding: 0 15px;
  margin-bottom: 15px;
  text-align: center;
  line-height: 30px;
}

/* General Layout */
.profile #content{
  width: 1075px;
  margin-top: 60px;
  padding-left: 100px;
}
.profile #content > *{
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}

.profile #profile_header{
  box-shadow: 0 5px 10px -5px #333333;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  color: white;
  font-weight: bold;
  padding: 5px 15px;
}
.profile #footer_container{
  float: left;
  width: 100%;
}
.profile #profile_footer{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  color: white;
  font-weight: bold;
  padding: 0 15px;
  text-align: center;
}
.profile #profile_footer > *{
  color: white;
  display: inline-block;
  width: 100px;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
}
.profile .caret{
  margin-left: 5px;
  margin-top: 13px !important;
}
.profile #view_groups{
  position: relative;
}
.profile .two_col_dropdown{
  width: 165px;
}
.profile #profile_footer > *:hover{
  color: white;
  padding: 0 10px;
  background: #6d9100;
  display: inline-block;
  cursor: pointer;
}
.profile .active_tab{
  background: #6d9100;
}
.profile #tab_content{
  margin: 80px auto 20px;
  width: 1340px;
}

.profile #nav{
}
.profile #nav_content{
}

/* Nav Bar */
.profile .navbar-inner{
}

.profile .view_all{
  float: right;
  color: white;
  cursor: pointer;
}

/* Pin Modal_1 and Pin Modal_2 */
.profile #pinModal_2{
  width:650px;
}
.profile #pinModal_2 input{
  width:150px;
}
.profile .media_type, .profile .media_source{
  float:left;
}
.profile #myCarousel, .profile .post_metadata{
  display:inline-block;
  vertical-align:top;
}
.profile #myCarousel{
  height:200px;
  width:200px;
}
.profile .post_metadata{
  width:300px;
}
.profile .post_description, .profile .post_tags{
  display:inline-block;
  vertical-align:top;
}
.profile .post_description{
}
.profile .post_tags{
  width:300px;
}

/* Game Pin object */
.profile .game_pin{
  /*background:#E9DBCC;
  width:220px;*/
  float:left;
  padding:15px 15px 0 15px;
  margin: 0 0 10px 10px;
  /*font-size:12px;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); 
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); */
}

.profile .pin_footer{
  background: #EBEBEB;
  margin: 0 -15px;
  padding: 5px;
}
.profile .game_options{
  position:absolute;
  margin: -7px 0 0 -5px;
}
.profile .game_options *{
  background: white;
  display: inline-block;
  text-align:center;
  width: 60px;
  margin-left:5px;
  border:2px solid black;
  cursor: pointer;
}
.profile .game_description, .profile .game_attributes, .profile .posted_by{
  margin-top: 5px;
  margin-bottom: 0px;
}
.profile .game_description{
}
.profile .game_attributes{
  margin-bottom:5px;
}
.profile .posted_by, .profile .comment, .profile .respond{
  padding: 10px 15px;
  margin: 1px -15px 0 -15px;
  border-bottom: 1px solid #A5C0C8;
  background: #EBEBEB;
}
.profile .posted_by img, .profile .posted_by p, .profile .comment img, .profile .comment p{
  display:inline-block;
  vertical-align: top;
}
.profile .posted_by p{
}
.profile .profile_img{
}
.profile .post_text, .profile .respond_txtarea{
  max-width: 170px;
  margin-left: 5px;
  line-height: 1.1em;  
}
.profile .respond_txtarea{
  font-size:11px;
  height: 20px;
  line-height: 1em; 
}
.profile .respond_btn{
  margin-top:10px;
  float:right;
}

/* My Profile */
/* profile area */
.profile #profile_col{
  width:600px;
  float:left;
  background:#FDFDFD;
}
.profile .left_container{
  float:left;
  width: 200px;
}
.profile .left_padding{
  padding:15px;
}
.profile .right_container{
  float:left;
  position: relative;
  width: 400px;
  height: 253px;
}
.profile .right_padding{
  padding:15px;
}
.profile .right_padding > *{
  float:left;
}
.profile .profile_pic {
  height:165px;
  width: 165px;
  background: white;
  max-height: 165px;
}
.profile .profile_pic .change_avatar{
  left: 40px;
  position: absolute;
  top: 150px;
}
.profile .profile_pic img{
  vertical-align: middle;
  max-height: 165px;
}
.profile .profile_name{
  width:100%;
  color: #99CC00;
  font-size: 30px;
  font-weight: bold;
  padding-bottom: 25px;
  text-shadow: 2px 2px 2px #333333;
  width: 100%;
}
.profile .bio_container{
  width: 100%;
  background: cyan;
  margin-right:15px;
}
.profile .bio_textarea, .bio_text{
  height:110px;
  line-height: 19px;
  overflow: hidden;
  font-size: 15px;
}
.profile .bio_txtarea{
  width:100%;
}
.profile .bio_text{
  width:100%
}
.profile .social_media{
  margin-top:15px;
}
.profile .social_media *{
  margin-right:20px;
}
.profile .bio_opts_container{
  width: 100%;
  text-align:right;
}
.profile .profile_xp{
  margin-top:10px;
}
.profile .curr_level{
  font-size:18px;
}
.profile .to_level{
  float:right;
}
.profile .xp_bar{
  border: 1px solid #777777;
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4);
  border: solid black #B3B3B3;
  margin-top:10px;
  width:170px;
  -moz-border-radius: 15px; /* Firefox */
  border-radius: 15px; /* CSS3 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#747474', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#B3B3B3), to(#747474));
  background: -moz-linear-gradient(bottom, #B3B3B3, #747474);
}
.profile .xp_gained{
  float:left;
  width: 50px;
  height:14px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  border-radius: 15px;
  /*background-image:url('/images/UI/XP.png');*/
  /*background:blue;*/
}
.profile .xp_remaining{
  float: right;
  width: 120px;
  height: 14px;
  -moz-border-radius-topright: 15px; /* Firefox */
  -moz-border-radius-bottomright: 15px; /* Firefox */
  border-top-right-radius: 15px; /* CSS3 */
  border-bottom-right-radius: 15px; /* CSS3 */
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#B3B3B3', endColorstr='#747474', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#B3B3B3), to(#747474));
  background: -moz-linear-gradient(bottom, #B3B3B3, #747474);
}
/* comrade area */
.profile .bot_container{
  overflow: hidden;
  height: 40px;
  float: left;
  width: 570px;
  padding: 15px 15px 15px 15px;
  border-top: 1px solid #A5C0C8;
}
.profile .bot_container > *{
  padding-left: 5px;
  display:inline-block;
  margin-bottom: 20px;
}
.profile .bot_container .comrade tabs{
  padding:5px;
  -moz-box-sizing: border-box;
}
.profile #people_container{
  float:left;
  width: 600px;
}
.profile #people_header{
  box-shadow: 0 5px 10px -5px #333333;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  color: white;
  font-weight: bold;
}
.profile #people_header > *{
  padding: 0 15px;
  width: 19%;
  text-align: center;
  display:inline-block;
  height: 30px;
  line-height: 30px;
  color: white;
  cursor: pointer;
}
.profile .comrade_tabs{
  margin-right: 20px;
  width: 170px;
}
.profile .comrade_tabs > *{
  display:inline-block;
}
.profile .add_follower{
  margin-left:5px;
  float:right;
}

/* friend/follower buttons */
.profile #content #button_col{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width:238px;
  margin:0 15px 15px 15px;
  float:left;
  text-align: center;
}
.profile #button_col button{
  width: 100px;
  font-size: 16px;
}
/*******Timeline*******/
.profile #timeline_col{
  height: 414px;
  width:180px;
  margin:0 15px;
  float:left;
  background: #FDFDFD;
  overflow: hidden;
}
#timeline_footer > *{
  height: 37px;
  width: 30%;
  float: left;
  cursor: pointer;
}
.profile #timeline_footer{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  color: white;
  font-weight: bold;
  text-align: center;
  height: 39px;
}
.profile #timeline_header{
  box-shadow: 0 5px 10px -5px #333333;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
  cursor: pointer;
}
.profile #timeline_contents_container {
  height: 345px;
}
/* badge area */
.profile #badge_col{
  width:120px;
  height:414px;
  margin:0 15px 15px 15px;
  float:left;
  background: #FDFDFD;
}
.view_all_footer{
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  color: white;
  font-weight: bold;
  padding: 0 15px;
  text-align: center;
  height: 30px;
  line-height: 30px;
}

.view_all_footer p{
  margin-right: auto;
  margin-left: auto;
  color: white;
  cursor: pointer;
}
.profile #badge_header{
  box-shadow: 0 5px 10px -5px #333333;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#6d9100', endColorstr='#99cc00', GradientType=0);
  background: -webkit-gradient(linear, left top, left bottom, from(#6d9100), to(#99cc00));
  background: -moz-linear-gradient(bottom, #6d9100, #99cc00);
  color: white;
  font-weight: bold;
  padding: 5px 15px;
  text-align: center;
}
.profile .badge_chest{
  text-align:center;
  padding: 15px;
  height: 324px;
  margin-left: auto;
  margin-right: auto;
}
.profile .badge_chest img{
  margin: 5px 3px;
  width: 60px;
}
.profile .badge_head{
  display:block;
  margin-bottom: 10px;
}
.profile .badge_head .badge_title{
  float:left;
}

/* friends followers */
.profile #content #comrades_col{
  float:left;
  background: #E9DBCC;
  width: 800px;
}

/* post navbar */
.profile .post_bar{
  float:left;
  z-index: 100;
  width:100%;
  background: #E3F1E4;
  -moz-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}

/* profile data area */

.profile #profile_data{
  box-shadow: none;
  margin-top:15px;
  height: 200px;
  width:100%;
  float: left;
}

.profile #profile_data_inner{
  margin-right: 21px;
}
