b{
  font-size:20px;
}
.btn-group{
  white-space: normal;
}
.btn-group > *{
  margin:5px;
}

/* General Layout */
#content{
  margin: 20px auto 20px;
  width: 1340px;
  background:#E9DBCC;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}
#content_2{
  margin: 20px auto 20px;
  background:#E9DBCC;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}

#nav{
  background: #A61700;
  margin:0;
}
#nav_left{
}
#nav_right{
  float:right;
}
#nav_content{
  background: #BF4330;
  padding:0;
  width: 1340px;
  margin: auto;
}

/* Media Queries for keeping #content and #nav_content centered */
@media only screen and (max-width : 1339px),
only screen and (max-device-width : 1339px){
	#content, #nav_content {
		width: 1075px;
	}
}
 
@media only screen and (max-width : 1074px),
only screen and (max-device-width : 1074px){
	#content, #nav_content {
		width: 810px;
	}
}

.main_logo:link, .main_logo:visited, .main_logo:active, .main_logo:hover{
  font-size: 20px;
  color: #34D0BA;
  position:absolute;
  left:50%;
  white-space: nowrap;
  margin-left: -100px;
  top:10px;
  text-decoration:none;
  z-index:100;
}

@media only screen and (max-width : 809px),
only screen and (max-device-width : 890px){
  .main_logo:link, .main_logo:visited, .main_logo:active, .main_logo:hover{
    left: 405px;
  }
}

/* Front Page Content */
.scrollup{
  background: grey;
  bottom: 0;
  font-size: 25px;
  text-align:center;
  opacity: 0.8;
  display: none;
  height: 80px;
  position: fixed;
  right: 100px;
  width: 80px;
  border:2px solid black;
}
.game_pin{
  background:#057D9F;
  width:220px;
  float:left;
  padding:15px 15px 0 15px;
  margin: 0 0 15px 15px;
  font-size:12px;
}
.game_options{
  position:absolute;
  margin: -7px 0 0 -5px;
}
.game_options *{
  background: white;
  display: inline-block;
  text-align:center;
  width: 60px;
  margin-left:5px;
  border:2px solid black;
  cursor: pointer;
}
.game_description, .game_attributes, .posted_by{
  margin-top: 5px;
  margin-bottom:0px;
  /* font-size: 12px; */
}
.game_description{
}
.game_img{
}
.game_attributes{
  margin-bottom:5px;
}
.posted_by, .comment, .respond{
  /* font-size: 12px; */
  padding: 10px 15px;
  margin: 0 -15px;
  background: #35D59D;
  border-top: 1px solid #FCFAFA;
}
.posted_by img, .posted_by p, .comment img, .comment p{
  display:inline-block;
  vertical-align: top;
}
.posted_by p{
}
.profile_img{
}
.post_text, .respond_txtarea{
  max-width: 170px;
  margin-left: 5px;
  line-height: 1.1em;  
}
.respond_txtarea{
  font-size:11px;
  height: 20px;
  line-height: 1em; 
}
.respond_btn{
  margin-top:10px;
  float:right;
}

/* Nav Bar */
.affix{
  top:0px;
}

.navbar-inner{
  background:red;
  border:none;
}
#subnav{
  background: #FF8673;
  width:100%;
  z-index:100;
}
#subnav_content{
  background: #FF7373;
  width:650px;
  text-align:center;
  margin:auto;
}
#search_bar{
  float: left;
}

.nav-collapse{
  margin: 0 20px;
}
.pin_it{
  margin-left:10px;
}
.log_in{
  margin-right:10px;
}

/* Registration_1 Page */
.welcome_img{
  text-align: center;
}
.register_options{
  padding:10px;
  text-align: center;
}
b{
  font-size:20px;
  padding-bottom:10px;
}
.social_media_login{
  text-align: center;
  padding:10px 0;
}
.login{
  padding:10px 0;
}
.legal{
}

/* Registration_2 Page */

.choose_tags, .choose_intro{
  padding:15px;
}

.complete{
  float:right;
}

/* Registration_Email Page */
.top_container{
  padding:10px;
}
.bottom_container{
  padding:10px;
}

.register_container{
  width:700px;
  padding:10px;
  background:#E9DBCC;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
  margin: 0 auto;
}
.register_container h1{
  text-align:center;
}
.profile_outer, .profile_inner{
  display: inline-block;
  vertical-align: top;
}
.profile_outer{
  background:white;
}
.profile_inner{
  margin:5px;
  position:relative;
}
.upload_profile_pic{
  position: absolute;
  top:190px;
  left:55px;
}
.user_params_required{
  display: inline-block;
  width:300px;
  margin-left:60px;
}
.user_params_optional{
  padding-bottom:10px;
}
.user_info{
  display: inline-block;
  width:320px;
  padding-left:30px;
}
.user_bio{
  display: inline-block;
  vertical-align: top;
}
.user_bio textarea{
  width: 300px;
  height: 100px;
 
}
.register_submit{
  text-align:center;
}
.register_submit button{
  
}

/* View Pin modal */
#viewPinModal{
  height:2000px;
  overflow-y:auto;
  /* position:absolute; */
}

/* Pin Modal_1 and Pin Modal_2 */
#pinModal_2{
  width:650px;
}
#pinModal_2 input{
  width:150px;
}
.media_type, .media_source{
  float:left;
}
#myCarousel, .post_metadata{
  display:inline-block;
  vertical-align:top;
}
#myCarousel{
  height:200px;
  width:200px;
}
.post_metadata{
  width:300px;
}
.post_description, .post_tags{
  display:inline-block;
  vertical-align:top;
}
.post_description{
}
.post_tags{
  width:300px;
}

/* Register Step 2 */
.register_step_2{
  text-align: center;
}
.choose_tags{
  
}
.choose_images{
  
}

/* My Settings */
.my_settings_form *{
  margin-bottom:5px;
}

/* My Profile */
.profile_box{
  background: #34D2AF;
}
.profile_box *{
  display: inline-block;
}
.bio{
  width: 400px;
  vertical-align: top;
  padding: 10px;
}
.bio_txtarea{
  width: 400px;
}

