<div class="page_pin">
  <div class="page_header clearfix">
    <a href="/user/{{pagePin.poster || pagePin.posterName}}">
      <img style="float: left; height: 50px; width: 50px;" ng-src="{{pagePin.profileImg || '/images/30x30.gif'}}"/>
        <p class="poster" style="font-size: 25px; margin-left: 60px;" >{{pagePin.userName}}</p>
    </a>
    <p style="font-size: 14px; line-height: 20px; margin-left: 60px; margin-top: 7px;" >posted onto {{pagePin.category}}</p>
  </div>
  <div class="page_body">
    <div class="page_content">
      <p>{{ pagePin.gameName }}</p>
      <img ng-src="{{pagePin.sourceUrl}}"/>
    </div>
    <div class="page_desc">
      <p>{{pagePin.description}}</p>
    </div>
  </div>
  <div class="page_footer">
    <div ng-repeat="cmt in pagePin.comments" class="page_comments">
      <img ng-src="{{cmt.posterImg || '/images/30x30.gif'}}" width="40" height="40" />
      <p class="post_text">
        <a href="/user/{{cmt.posterName}}"><b>{{cmt.posterName}}</b></a>
        </br>
        {{ cmt.content }}
      </p>
    </div>
    <div class="view_respond clearfix">
      <a href="#"><img ng-src="{{userImg}}" class="profile_img"/></a>
      <textarea ng-click="showRespond = true" class="view_respond_txtarea" placeholder="Post comment" tabindex="" ng-model="big_text"></textarea>
      <button ng-show="showRespond" ng-click="addBigComment(big_text, bigPin.index); showRespond = false;" class="btn" type="button">Comment</button>
    </div>
  </div>
</div>
