<div id="about_nav_buttons_container">
	<div ng-click="viewFAQ()" class="modal_slice faq_slice" ng-class="{'about_selected': section == rootPath + '/partials/about/faq'}">
	  FAQ
	</div>
	<div ng-click="viewToS()" class="modal_slice tos_slice" ng-class="{'about_selected': section == rootPath + '/partials/about/tos'}">
	  Terms of Service
	</div>
	<div ng-click="viewPrivacy()" class="modal_slice privacy_slice" ng-class="{'about_selected': section == rootPath + '/partials/about/privacy'}">
	  Privacy Policy
	</div>
	<div ng-click="viewAcceptable()" class="modal_slice view_slice" ng-class="{'about_selected': section == rootPath + '/partials/about/acceptable'}">
	  Acceptable Use
	</div>
</div>
