<div id="about_nav_container">
  <div id="about_nav_buttons_container">
    <div ng-click="viewFAQ()" class="modal_slice faq_slice">
      FAQ
    </div>
    <div ng-click="viewToS()" class="modal_slice tos_slice">
      Terms of Service
    </div>
    <div ng-click="viewPrivacy()" class="modal_slice privacy_slice">
      Privacy Policy
    </div>
    <div ng-click="viewAcceptable()" class="modal_slice view_slice about_selected">
      Acceptable Use
    </div>
  </div>
</div>
<div class="modal_stack tos_stack"> Quyay provides a platform to discover and share things you love.
To keep it running smoothly for all of our users, you agree that you will use the service only in a
manner consistent with the following Acceptable Use Policy. </div>
<div class="modal_stack faq_Q">You agree not to post User Content that:</div>
<div class="modal_stack faq_A">is sexually explicit or contains nudity, partial nudity or pornography;</div>
<div class="modal_stack faq_A">creates a risk of harm, loss, physical or mental injury, emotional distress,
death, disability, disfigurement, or physical or mental illness to yourself, to any other person, or to any animal;</div>
<div class="modal_stack faq_A">may create a risk of any other loss or damage to any person or property;</div>
<div class="modal_stack faq_A">seeks to harm or exploit children by exposing them to inappropriate content,
asking for personally identifiable details or otherwise;</div>
<div class="modal_stack faq_A">violates, or encourages any conduct that violates laws or regulations;</div>
<div class="modal_stack faq_A">contains any information or content we deem to be hateful, violent, harmful,
abusive, racially or ethnically offensive, defamatory, infringing, invasive of personal privacy or publicity
rights, harassing, humiliating to other people (publicly or otherwise), libelous, threatening, profane, or
otherwise objectionable;</div>
<div class="modal_stack faq_A">contains any information or content that is illegal (including, without limitation,
the disclosure of insider information under securities law or of another party's trade secrets);</div>
<div class="modal_stack faq_A">infringes any third party's Intellectual Property Rights, privacy rights, publicity rights,
or other personal or proprietary rights;</div>
<div class="modal_stack faq_A">contains any information or content that you do not have a right to make available under any
law or under contractual or fiduciary relationships; or</div>
<div class="modal_stack faq_A">is fraudulent, false, misleading, or deceptive.</div>
<div class="modal_stack faq_Q">You agree not to engage in any of the following prohibited activities:</div>
<div class="modal_stack faq_A">Use, display, mirror or frame the Service, any individual element within the Service,
the Quyay name, trademark, logo or other proprietary information, or the layout and design of any page, without our
express written consent;</div>
<div class="modal_stack faq_A">Access, tamper with, or use non-public areas of the Service, our computer systems,
or the technical delivery systems of our providers;</div>
<div class="modal_stack faq_A">Attempt to probe, scan, or test the vulnerability of any Quyay system or network
or breach any security or authentication measures;</div>
<div class="modal_stack faq_A">Avoid, bypass, remove, deactivate, impair, descramble or otherwise circumvent any
technological measure implemented by Quyay or any of our providers or any other third party (including another user)
to protect the Services or Quyay Content;</div>
<div class="modal_stack faq_A">Attempt to access or search the Services, User Content or Quyay Content or scrape or
download User Content or Quyay Content from the Services, or otherwise use, upload content to, or create new links,
reposts, or referrals in the Service through the use of any engine, software, tool, agent, device or mechanism (including
automated scripts, spiders, robots, crawlers, data mining tools or the like) other than the software and/or search agents
provided by Quyay or other generally available third party web browsers;</div>
<div class="modal_stack faq_A">Send any unsolicited or unauthorized spam and spam comments on posts, advertising messages, promotional
materials, email, junk mail, chain letters or other form of solicitation;</div>
<div class="modal_stack faq_A">Except for use of a "No Post" instruction, use any meta tags or other hidden text or metadata
utilizing a Quyay or Quyay trademark, logo, URL, or product name without the Company's express written consent;</div>
<div class="modal_stack faq_A">Use the Service for any commercial purpose or the benefit of any third party, except as
otherwise explicitly permitted for you by the Company or in any manner not permitted by the Terms;</div>
<div class="modal_stack faq_A">Use Quyay user information to forge any TCP/IP packet header or any part of the header
information in any email or newsgroup posting, or in any way use the Services to send altered, deceptive or false
source-identifying information;</div>
<div class="modal_stack faq_A">Attempt to decipher, decompile, disassemble or reverse engineer any of the software used
to provide the Services;</div>
<div class="modal_stack faq_A">Interfere with, or attempt to interfere with, the access of any user,
host or network, including, without limitation, sending a virus,overloading, flooding, spamming, or mail-bombing the Services;</div>
<div class="modal_stack faq_A">Collect or store any personally identifiable information from the Services
from other users of the Services without their express permission;</div>
<div class="modal_stack faq_A">Impersonate or misrepresent your affiliation with any person or entity;</div>
<div class="modal_stack faq_A">Violate any applicable law or regulation; or</div>
<div class="modal_stack faq_A">Encourage or enable any other individual to do any of the activities prohibited in
this Acceptable Use Policy.</div>
<div class="modal_stack faq_Q">The Company reserves the right, but is not obligated, to remove any User Content
for any reason or for no reason, including User Content that the Company believes violates this Acceptable Use
Policy or its Terms of Service. The Company may also permanently or temporarily terminate or suspend a User account
without notice and liability for any reason, including if, in the Company's sole determination, a User violates any
provision of this Acceptable Use Policy, our Terms of Service, or for no reason.</div>