textarea{
  margin:0;
  padding:0;
}
/* General Layout */
#content{
  width: 1075px;
  margin: 20px auto 20px;
}

#nav{
  background: #E3F1E4;
  margin:0;
  -moz-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}
#nav_left{
}
#nav_right{
  float:right;
}
#nav_content{
  background: #E3F1E4;
  padding:0;
  width: 1075px;
  margin: auto;
  border:none;
  box-shadow:none;
}

#main_logo:link, #main_logo:visited, #main_logo:active, #main_logo:hover{
  font-size: 20px;
  color: #34D0BA;
  position:absolute;
  left:50%;
  white-space: nowrap;
  margin-left: -100px;
  top:10px;
  text-decoration:none;
  z-index:100;
}

@media only screen and (max-width : 1074px),
only screen and (max-device-width : 1074px){
  #main_logo:link, #main_logo:visited, #main_logo:active, #main_logo:hover{
    left: 535px;
  }
}

/* Nav Bar */
.affix{
  top:0px;
}
.navbar-inner{
  background:red;
  border:none;
  background: #E3F1E4;
  width: 346px;
  margin:auto;
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Chrome */
  border-radius: 0; /* CSS3 */
}

.nav .caret{
  margin-top: 8px;
}
#search_bar{
  float: left;
  padding-left: 25px;
}
#search_bar input{
  width:100px;
  background: #F0F8F1;
  border-color: #CFCACA;
  color: #CFCACA;
}
#search_bar input:focus{
  color: grey;
}
.new_followers, .new_tags, .new_messages{
  padding: 5px;
  margin-left: 10px;
}

.nav-collapse{
  margin: 0 20px;
}
.pin_it{
  margin-left:10px;
}
.log_in{
  margin-right:10px;
}
#about_toggle{
  padding-bottom: 12px;
}
#about_dropdown {
  min-width:100px;
}
#follower_toggle, #tag_toggle, #message_toggle{
  padding:0;
  margin:0;
}
#follower_dropdown, #tag_dropdown, #message_dropdown {
  left: 170px;
  min-width: 130px;
  top: 40px;
  background: #E9DBCC;
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Chrome */
  border-radius: 0; /* CSS3 */
}

#follower_dropdown:after, #tag_dropdown:after, #message_dropdown:after {
  border:none;
}
#follower_dropdown:before, #tag_dropdown:before, #message_dropdown:before {
  border:none;
}

/* Drop down going left */
#profile_toggle{
  position:relative;
  min-width: 90px;
}
#profile_dropdown{
  min-width: 0;
  position: absolute;
  right: 0;
  top: 41px;
  -moz-border-radius: 0; /* Firefox */
  -webkit-border-radius: 0; /* Safari, Chrome */
  border-radius: 0; /* CSS3 */
}
#profile_small{
  padding-right:10px;
}
#nav_right {
  font-size:1em;
}
#nav_right .dropdown-menu.active{
 top: 41px;
 margin:0;
 border:1px solid #CFCACA;
 background: #E9DBCC;
 -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
 -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
 box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
  
 -moz-border-radius: 0; /* Firefox */
 -webkit-border-radius: 0; /* Safari, Chrome */
 border-radius: 0; /* CSS3 */
}
#nav_right .dropdown-menu.active:after {
  border:none;
}

#nav_right .dropdown-menu.active:before {
  border:none;
}

/* Pin Modal_1 and Pin Modal_2 */
#pinModal_2{
  width:650px;
}
#pinModal_2 input{
  width:150px;
}
.media_type, .media_source{
  float:left;
}
#myCarousel, .post_metadata{
  display:inline-block;
  vertical-align:top;
}
#myCarousel{
  height:200px;
  width:200px;
}
.post_metadata{
  width:300px;
}
.post_description, .post_tags{
  display:inline-block;
  vertical-align:top;
}
.post_description{
}
.post_tags{
  width:300px;
}

/* Find Friends content */
.friends_left{
  background:#E9DBCC;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
  border: 1px solid LightSteelBlue;
  width:300px;
  float:left;
  position: fixed;
  text-align:center;
}
.friends_right{
  background:#E9DBCC;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
  
  border: 1px solid LightSlateGray;
  float: left;
  width: 700px;
  margin: 0 0 0 320px;
  padding:15px;
  font-size:18px;
  line-height:22px;
}
.friends_right h2{
  margin-top:0;
}
.friends_right ul{
  width: 400px;
  margin:0;
}
.friends_right ul .friend_li{
  margin:10px 0;
  border:solid 1px black;
}

.friend_li button{
  float:right;
}
