/* Override defaults */
.profile textarea{
  margin:0;
  padding:0;
}

/* General Layout */
.profile #content{
  width: 1075px;
  margin-top: 60px;
  padding-left: 100px;
}
.profile #content > *{
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}

.profile #tab_content{
  margin: 80px auto 20px;
  width: 1340px;
}

.profile #nav{
}
.profile #nav_content{
}

/* Nav Bar */
.profile .navbar-inner{
  /*background:red;
  border:none;
  background: #E3F1E4;
  width: 346px;
  margin:auto;
  -moz-border-radius: 0; 
  -webkit-border-radius: 0; 
  border-radius: 0;  CSS3 */
}


/* Pin Modal_1 and Pin Modal_2 */
.profile #pinModal_2{
  width:650px;
}
.profile #pinModal_2 input{
  width:150px;
}
.profile .media_type, .profile .media_source{
  float:left;
}
.profile #myCarousel, .profile .post_metadata{
  display:inline-block;
  vertical-align:top;
}
.profile #myCarousel{
  height:200px;
  width:200px;
}
.profile .post_metadata{
  width:300px;
}
.profile .post_description, .profile .post_tags{
  display:inline-block;
  vertical-align:top;
}
.profile .post_description{
}
.profile .post_tags{
  width:300px;
}

/* Game Pin object */
.profile .game_pin{
  background:#E9DBCC;
  width:220px;
  float:left;
  padding:15px 15px 0 15px;
  margin: 0 0 15px 15px;
  font-size:12px;
  -moz-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 0 0 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}
.profile .game_options{
  position:absolute;
  margin: -7px 0 0 -5px;
}
.profile .game_options *{
  background: white;
  display: inline-block;
  text-align:center;
  width: 60px;
  margin-left:5px;
  border:2px solid black;
  cursor: pointer;
}
.profile .game_description, .profile .game_attributes, .profile .posted_by{
  margin-top: 5px;
  margin-bottom:0px;
}
.profile .game_description{
}
.profile .game_attributes{
  margin-bottom:5px;
}
.profile .posted_by, .profile .comment, .profile .respond{
  padding: 10px 15px;
  margin: 1px -15px 0 -15px;
  border-bottom: 1px solid #A5C0C8;
  background: #CBE6EE;
}
.profile .posted_by img, .profile .posted_by p, .profile .comment img, .profile .comment p{
  display:inline-block;
  vertical-align: top;
}
.profile .posted_by p{
}
.profile .profile_img{
}
.profile .post_text, .profile .respond_txtarea{
  max-width: 170px;
  margin-left: 5px;
  line-height: 1.1em;  
}
.profile .respond_txtarea{
  font-size:11px;
  height: 20px;
  line-height: 1em; 
}
.profile .respond_btn{
  margin-top:10px;
  float:right;
}

/* My Profile */
/* profile area */
.profile #profile_col{
  width:800px;
  float:left;
  background:#E9DBCC;
}
.profile .left_container{
  float:left;
  width: 200px;
}
.profile .left_padding{
  padding:15px;
}
.profile .right_container{
  float:left;
  width: 600px;
  height: 250px;
}
.profile .right_padding{
  padding:15px;
}
.profile .right_padding > *{
  float:left;
}
.profile .profile_pic {
  
}
.profile .profile_name{
  font-size:30px;
  padding-bottom:25px;
  width:100%;
}
.profile .bio_container{
  width: 100%;
  background: cyan;
  margin-right:15px;
}
.profile .bio_textarea, .bio_text{
  height:150px;
}
.profile .bio_txtarea{
  width:100%;
}
.profile .bio_text{
  width:100%
}
.profile .social_media{
  margin-top:15px;
}
.profile .social_media *{
  margin-right:20px;
}
.profile .bio_opts_container{
  width: 100%;
  text-align:right;
}
.profile .profile_xp{
  margin-top:10px;
}
.profile .curr_level{
  font-size:18px;
}
.profile .to_level{
  float:right;
}
.profile .xp_bar{
  border: 2px solid black;
  margin-top:10px;
  background:green;
  width:170px;
  -moz-border-radius: 5px; /* Firefox */
  border-radius: 5px; /* CSS3 */
}
.profile .xp_gained{
  float:left;
  width: 10px;
  border-right: 2px solid black;
  -moz-border-radius-topleft: 5px; /* Firefox */
  -moz-border-radius-bottomleft: 5px; /* Firefox */
  border-top-left-radius: 5px; /* CSS3 */
  border-bottom-left-radius: 5px; /* CSS3 */
  background:Chartreuse ;
}
.profile .xp_remaining{
  float: right;
  width: 158px;
  -moz-border-radius-topright: 5px; /* Firefox */
  -moz-border-radius-bottomright: 5px; /* Firefox */
  border-top-right-radius: 5px; /* CSS3 */
  border-bottom-right-radius: 5px; /* CSS3 */
  background:Cornsilk;
}
/* comrade area */
.profile .bot_container{
  float: left;
  width: 770px;
  margin-top:1px;
  padding: 15px 15px 15px 15px;
  border-top: 1px solid #A5C0C8;
}
.profile .bot_container > *{
  padding-left: 5px;
  display:inline-block;
}
.profile .comrade_tabs{
  /* width: 180px; perfectly aligned */
  width: 170px;
}
.profile .comrade_tabs > *{
  display:inline-block;
}
.profile .add_follower{
  margin-left:5px;
  float:right;
}

/* friend/follower buttons */
.profile #content #button_col{
  -moz-box-shadow: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  width:238px;
  margin:0 15px 15px 15px;
  float:left;
  text-align: center;
}
.profile #button_col button{
  width: 100px;
  font-size: 16px;
}

/* badge area */
.profile #badge_col{
  width:238px;
  margin:0 15px 15px 15px;
  float:left;
  background: #E9DBCC;
}
.profile .badge_chest{
  text-align:center;
  padding:15px;
}
.profile .badge_chest img{
  margin:3px 3px;
}
.profile .badge_head{
  display:block;
  margin-bottom: 10px;
}
.profile .badge_head .badge_title{
  float:left;
}
.profile .badge_head .view_all{
  float:right;
}

.profile #follower_col{
  width:238px;
  margin:0 15px;
  float:left;
  background: #E9DBCC;
}

/* friends followers */
.profile #content #comrades_col{
  float:left;
  background: #E9DBCC;
  width: 800px;
}

/* post navbar */
.profile .post_bar{
  float:left;
  z-index: 100;
  width:100%;
  background: #E3F1E4;
  -moz-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Firefox */
  -webkit-box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* Safari, Chrome */
  box-shadow: 5px 5px 5px rgba(34, 25, 25, 0.4); /* CSS3 */
}
